@import "./../../../../styles.scss";

header {
  // @include dFlex($g: 20px);
  background-color: var(--color-purple-white);
}

.header-on-non-auth {
  padding: 75px;
  padding-bottom: 0;

  .logo-final {
    height: 70px;
    width: 241px;
    visibility: hidden;
  }

  .showLogo {
    visibility: visible;
  }
}

.header-on-dashboard {
  // padding: 25px 34px 20px 50px;
  padding: 16px;

  .logo-box {

    .logo-final {
      // width: 242px;
      // height: 70px;
      width: 162px;
      height: 45px;
    }

    .logo-channel {
      gap: 4px;

      img {
        height: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
      }

      p {
        padding-left: 4px;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.input-wrapper {
  height: 70px;
  flex: 1;
  @include dFlex();
  position: relative;
}

input {
  flex: 1;
  height: 100%;
  border-radius: 42px;
  width: unset;
  padding: 0 80px 0 45px;
  line-height: 70px;
  font-size: 24px;
}

.search-icon {
  position: absolute;
  right: 45px;
}

app-search-bar {
  flex: 1;
}

.current-user {
  @include dFlex($jc: flex-end, $g: 20px);
}

h1 {
  white-space: nowrap;
  color: var(--color-black);
  // display: block;
  display: none;
}

.profil-img {
  // height: 70px;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.arrow-btn {
  height: 30px;
  aspect-ratio: 1;
  background-image: url("./../../../../assets/img/keyboard-arrow-down-black.svg");

  &:hover {
    background-image: url("./../../../../assets/img/keyboard-arrow-down-blue.svg");
  }
}

.arrow-back {
  rotate: 90deg;
}