@import "../../../../../../../../styles.scss";

.current-post-input {
  width: 100% !important;
  padding: 8px;
  border-radius: 20px !important;
  background-color: var(--color-white) !important;
  color: var(--color-gray) !important;
  cursor: default !important;

  .post-text-input {
    padding: 8px;
    border: unset !important;
    outline: unset !important;
  }

  @include respond-to(xxxs) {
    position: relative;
    left: calc(2rem - clamp(0.25rem, -7.7500rem + 40.0000vw, 1.75rem));
  }
}

.btns-submit {
  gap: 8px;

  button {
    padding: 6px 10px !important;
  }
}

.add-emoji {
  width: 40px;
  aspect-ratio: 1 / 1;
  transition: 0.2s;
  background-image: url("../../../../../../../../assets/img/emoji-gray.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("../../../../../../../../assets/img/emoji-gray.svg");
  }
}
