@import './../../../../styles.scss';

.edit-profile-main{
    background-color: white;
    width: 500px;
    height: 600px;
    right: 10px;
    z-index: 10;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 38px;
}

.img-area{
  height: 208px;
}

.user-img{
    width: 200px;
    border-radius: 50%;
    transition: 0.2s ease-out;

    &:hover{
      cursor: pointer;
      width: 208px;
    }
}

.edit-h3{
    margin: 0px 0px 0px 20px;
}

.close {
  background-image: url("./../../../../assets/img/close.svg");
  &:hover {
    background-image: url("./../../../../assets/img/close-hover.svg");
  }
}