@import "./../../../../styles.scss";

.edit-profile-main {
  width: 500px;
  height: 600px;
  padding: 38px;

  @include respond-to(xs) {
    width: 90dvw;
  }
}

.img-area {
  height: 208px;
}

.user-img {
  width: 200px;
  border-radius: 50%;
  transition: 0.2s ease-out;

  &:hover {
    cursor: pointer;
    width: 208px;
  }
}

.edit-h3 {
  margin: 0px 0px 0px 20px;
}

input {
  margin-top: 16px;
}

.btn-area {
  @include respond-to(xxs) {
    flex-direction: column-reverse;
    .save {
      margin: 0px 0px 12px 0px;
    }
  }
}

.close {
  background-image: url("./../../../../assets/img/close.svg");
  &:hover {
    background-image: url("./../../../../assets/img/close-hover.svg");
  }
}
