@import './../../../../styles.scss';

.logo-container{
    background-color:var(--color-purple-dark);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transition: background-color 1s ease-out;

    .solo-logo{
        position: relative;
        width: 71px;
        height: 68px;
        overflow: hidden;
    }
}

.span-box{
    overflow: hidden;
}

.animat-name{
    display: none;
    font-size: 32px;
    font-weight: 656;
    color: white;
    margin: 2px 0px 0px 12px;
    animation: slideFromLeft 1s ease-in;
    width: 152px;
}

.name-black{
    color: black;
}

.animated-logo{
    transition: width 2s, height 1.3s, margin 0.7s;
    width: 100px;
    height: 70px;
}

.expand{
    width: 238px;
}

.show{
    display: flex !important;
}

.moveUp{
    align-items: baseline;
    height: 100%;
    width: 100%;

    @include respond-to(xs) {
        justify-content: center;
    }
}

.addMargin{
    margin: 309px 74px 154px 74px;
}

.getRid{
    display: none;
}

.container-transperent{
    background-color: transparent !important;
}

@keyframes slideFromLeft{
    from {
        transform: translateX(-150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

