@import './../../../../styles.scss';

.logo-container{
    background: linear-gradient(to top, var(--color-purple-dark), var(--color-purple-medium), var(--color-purple-light));
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 74px 0px 0px 0px;
    transition: background-color 0.5s ease-out;

    @include respond-to('624') {
        padding: 36px 0px 0px 0px !important;
    }

    .solo-logo{
        position: relative;
        width: 80px;
        height: 68px;
        overflow: hidden;

        @include respond-to('624') {
            width: 64px;
            height: 60px;
        }

        @include respond-to(xxxs) {
            width: 52px !important;
            height: 48px !important;
        }
    }
}

.addMaxWidth{
    max-width: 1920px;
}

.logo-container-final{
    width: unset;
    height: 20%;
    position: absolute;
}

.span-box{
    overflow: hidden;
}

.animat-name{
    display: none;
    font-size: 34px;
    font-weight: 656;
    color: var(--color-white);
    margin: 0px 2px 0px 24px;
    animation: slideFromLeft 0.5s ease-in;
    width: 164px;

    @include respond-to('624') {
        font-size: 28px !important;
    }

    @include respond-to(xxxs) {
        margin: 0px 0px 0px 12px !important;
        font-size: 24px !important;
        width: 116px;
    }
}

.name-black{
    color: var(--color-black);
}

.animated-logo{
    transition: width 1.5s ease, height 1s ease, margin 0.4s ease;
    width: 100px;
    height: 70px;
    align-self: center;

    @include respond-to(xxxs) {
        height: 65px;
        width: 100px;
    }
}

.animat-logo{
    width: auto;
}

.expand{
    width: 280px;

    @include respond-to('624') {
        width: 255px;
    }

    @include respond-to(xxxs) {
        width: 180px;
    }
}

.show{
    display: flex !important;
}

.moveUp{
    align-items: baseline;
    height: 100%;
    width: 100%;

    @include respond-to('959') {
        justify-content: center;
    }

    @include respond-to(xxxs) {
        writing-mode: 228px;
    }
}

.addMargin{
    margin: 0px 0px 0px 74px;

    @include respond-to('959') {
        margin: 0 !important;
    }

    @include respond-to(xxxs) {
        margin: 0px 0px 0px 15px !important;
    }
}

.getRid{
    display: none;
}

.container-transperent{
    background: transparent !important;
}

.final-container{
    position: absolute;
    top: 0px;
    width: 348px;
    height: 144px !important;

    @include respond-to('959') {
        width: 100% !important;
        margin: 0 !important;
    }

        @include respond-to(xxxs) {
        margin: 0px 0px 0px 15px !important;
    }
}

@keyframes slideFromLeft{
    from {
        transform: translateX(-150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.noIntro-container{
    display: none;
    padding: 74px 0px 0px 0px;
    margin: 0px 0px 0px 74px;

    @include respond-to('959') {
        width: 100%;
        margin: 0 !important;
    }

    @include respond-to('624') {
        padding: 36px 0px 0px 0px !important;
    }
}

.noIntro-logo {
    height: 70px;
    align-self: center;

    @include respond-to(xxxs) {
        height: 65px;
        width: 100px;
    }
}

.noIntro-logoContent{
    width: auto;
}

.noIntro-soloLogo{
    width: 80px;
    height: 68px; 
}

.noIntro-span{
    overflow: hidden;
}

.not-animated-name{
    font-size: 34px;
    font-weight: 656;
    margin: 0px 2px 0px 24px;
    width: 164px;

    @include respond-to('624') {
        font-size: 28px !important;
    }

    @include respond-to(xxxs) {
        margin: 0px 0px 0px 12px !important;
        font-size: 24px !important;
        width: 116px;
    }
}

.hide-animation{
    display: none;
}

.show-noIntro{
    display: flex;
}