@import './../../../../styles.scss';

.logo-container{
    background: linear-gradient(to top, var(--color-purple-dark), var(--color-purple-medium), var(--color-purple-light));
    width: 100vw;
    height: 100vh;
    z-index: 100;
    padding: 74px 0px 0px 0px;
    transition: background-color 0.5s ease-out;

    .solo-logo{
        position: relative;
        width: 71px;
        height: 68px;
        overflow: hidden;

        @include respond-to(xxxs) {
            width: 65px;
            height: 65px;
        }
    }
}

.logo-container-final{
    width: unset;
    height: 20%;
    position: absolute;
}

.span-box{
    overflow: hidden;
}

.animat-name{
    display: none;
    font-size: 33px;
    font-weight: 656;
    color: white;
    margin: 0px 2px 0px 12px;
    animation: slideFromLeft 0.5s ease-in;
    width: 160px;

    @include respond-to(xxxs) {
        margin: 0px 0px 0px 12px !important;
    }
}

.name-black{
    color: black;
}

.animated-logo{
    transition: width 1.5s ease, height 1s ease, margin 0.4s ease;
    width: 100px;
    height: 70px;

    @include respond-to(xxxs) {
        height: 65px;
        width: 100px;
    }
}

.animat-logo{
    width: auto;
}

.expand{
    width: 20%;
}

.show{
    display: flex !important;
}

.moveUp{
    align-items: baseline;
    height: 100%;
    width: 100%;

    @include respond-to(xs) {
        justify-content: center;
    }
}

.addMargin{
    margin: 0px 74px 0px 74px;

    @include respond-to(xxxs) {
        margin: 0px 74px 0px 74px;
    }
}

.getRid{
    display: none;
}

.container-transperent{
    background: transparent !important;
}

@keyframes slideFromLeft{
    from {
        transform: translateX(-150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

