@import "../../../shared/styles/outside-dashboard.scss";

h1 {
  flex: 1;
  padding-right: 40px;
}

.selected-avatar {
  width: clamp(6rem, 5.25rem + 3.75vw, 7.5rem);
  aspect-ratio: 1;
  border-radius: 50%;
}

.user-name {
  padding-top: clamp(1rem, 0.75rem + 1.25vw, 1.5rem);
  font-size: 32px;
  font-weight: 700;
}

.choose-avatar-explanation {
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 16px;
  text-align: center;
}

.avatar-list {
  gap: 8px;

  img {
    width: clamp(3rem, 2.5rem + 2.5vw, 4rem);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  @include respond-to("430") {
    max-width: 80%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.submit-btn {
  margin-top: clamp(1.25rem, 1.125rem + 0.625vw, 1.5rem);
}
