<section class="flex flex-col items-center">
    <div class="headline flex flex-col">
        <div class="flex place-content-center w-full">
            <button (click)="backToRegistration()" class="btn-back btn-tertiary" (mouseenter)="arrowBackImg.src = './assets/img/arrow-back-hover.svg'"
                (mouseleave)="arrowBackImg.src = './assets/img/arrow-back.svg'">
                <img #arrowBackImg src="./assets/img/arrow-back.svg" alt="go back to previous page">
            </button>
            <h1>Wähle deinen Avatar</h1>
        </div>
    </div>

    <div class="flex flex-col items-center">
        <img class="selected-avatar" [src]="selectedAvatar >0 ? avatarOptions[selectedAvatar-1]: './assets/img/no-avatar.svg'" alt="currently selected avatar">
        <p class="user-name">Vorname Nachname</p>
        <p class="choose-avatar-explanation w-full">Wähle einen Avatar aus der Liste</p>
        <div class="avatar-list flex items-center place-content-between w-full">
            @for (img of avatarOptions; track $index) {
            <img class="avatar" (click)="selectAvatar($index + 1)" src="{{img}}" alt="avatar option">
            }
        </div>
    </div>

    <button (click)="authService.register()" class="submit-btn btn-primary self-end" [disabled]="selectedAvatar === 0">Fertigstellen</button>
</section>