<div
  class="settings-view-main flex flex-col items-center justify-between overlay overlay-close"
  [class.handset-settings-view-main]="(screenSize$|async) === 'handset'"
  [ngClass]="{ closing: isClosing }"
>
  @if((screenSize$|async) === 'handset'){
  <div class="flex w-full justify-center">
    <span
      class="rectangle"
      appRectangleDragClose
      (dragClose)="closeOverlay()"
    ></span>
  </div>
  }
  
  <button
    class="settings-btn flex items-center justify-center"
    (click)="openProfileViewMainOverlay()"
  >
    <img 
      class="settingsIcon" 
      src="./assets/img/person-profile-view.svg" 
      alt="profile icon"
      /><span>Profil</span>
  </button>
  <button
    class="settings-btn flex items-center justify-center"
    (click)="authService.logout()"
  >
    <img
      class="settingsIcon"
      src="./assets/img/logout.svg"
      alt="log-out icon"
    />
    <span>Log out</span>
  </button>
</div>
