<div class="settings-view-main flex flex-col items-center justify-between">
    <img class="rectangle" src="./../../../assets/img/rectangle.svg" alt="rectangle">
    <div class="btn-area flex flex-col items-center justify-between">
        <button class="settings-btn flex items-center justify-center" (click)="showProfile()"><img class="settingsIcon" src="./assets/img/person-profile-view.svg" alt="profile icon">Profil</button>
        <button class="settings-btn flex items-center justify-center" (click)="logOut()"><img class="settingsIcon" src="./assets/img/logout.svg" alt="log-out icon">Log out</button>
    </div>
</div>
