@import "./../../../styles.scss";

.settings-view-main {
  background-color: var(--color-white);
  width: 280px;
  height: 180px;
  border-top-right-radius: 0 !important;
  padding: 38px;
  position: absolute;
  right: 12px;
  top: 16px;

  .settings-btn {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    height: 48px;
    width: 100%;
    border-radius: 35px;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      color: var(--color-purple-medium);
      background-color: var(--color-purple-white);
    }

    .settingsIcon {
      display: none;
      padding: 0px 15px 0px 0px;
    }
  }
}

.handset-settings-view-main {
  position: fixed;
  top: unset;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 200px;
  border-top-right-radius: 30px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-bottom: calc(env(safe-area-inset-bottom, 0px));
  .settings-btn {
    justify-content: start !important;
    transition: 0.2s;

    &:hover {
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }

  .settingsIcon {
    display: flex !important;
    transition: 0.2s;

    &:hover {
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }

  .settings-icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: 0px 15px 0px 0px;
  }
}

.overlay-close {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(0);
  opacity: 1;
}

.overlay-close.closing {
  transform: translateY(100%);
  opacity: 0;
}
