<div
  class="settings-view-main flex flex-col items-center justify-between overlay overlay-close"
  [class.mobile-settings-view-main]="(screenSize$|async) === 'handset'"
  [ngClass]="{ closing: isClosing }"
>
  @if((screenSize$|async) === 'handset'){
  <div class="flex w-full justify-center">
    <span
      class="rectangle"
      appRectangleDragClose
      (dragClose)="closeOverlay()"
    ></span>
  </div>
  }
  
  <button
    class="settings-btn flex items-center justify-center"
    (click)="showProfile()"
  >
    <img
      class="settingsIcon"
      src="./assets/img/person-profile-view.svg"
      alt="profile icon"
    />Profil
  </button>
  <button
    class="settings-btn flex items-center justify-center"
    (click)="logOut()"
  >
    <img
      class="settingsIcon"
      src="./assets/img/logout.svg"
      alt="log-out icon"
    />Log out
  </button>
</div>
