.container {
    max-width: 335px;
    max-height: 171px;
    overflow-y: auto;
    /* activează scroll pe axa Y doar când e nevoie */
    overflow-x: hidden;
    /* (opțional) ascunde scroll pe X */
    scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE și Edge Legacy */
}

.profil-img {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.user-list-item {
    gap: 15px !important;
    border-radius: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
}