.border {
  border: 1px solid var(--color-purple-light-lines);
  width: clamp(17.5rem, 16rem + 7.5vw, 25rem);
  height: 100%;
  max-height: 280px;
  padding: 0px clamp(0.75rem, -0.1389rem + 4.4444vw, 1.25rem);
}

.container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 16px;
  padding: 16px 0;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.profil-img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.user-list-item {
  display: flex;
  width: 100vw;
  gap: 15px !important;
  border-radius: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.overlayBottom {
  min-height: 112px;
  background-color: var(--color-white);
  border-radius: 30px 30px 30px 0;
  box-shadow: 0px 6px 10px 0px #00000033;

  ul {
    align-content: center;
  }
}
