<div class="flex flex-col w-full gap-[20px]">
  <div class="flex w-full items-center justify-between">
    <h4>Channel name</h4>
    @if(isEditActive){ @if((screenSize$|async) === 'handset'){
    <button class="btn" (click)="saveName(nameInput!)">
      <span class="save"></span>
    </button>
    }@else {
    <button class="nameTag" (click)="saveName(nameInput!)">Speichern</button>
    } }@else { @if((screenSize$|async) === 'handset'){
    <button class="btn" (click)="toggleEdit()">
      <span class="edit"></span>
    </button>
    }@else {
    <button class="nameTag" (click)="toggleEdit()">Bearbeiten</button>
    } }
  </div>
  <div class="nameAndError w-full">
    @if(isEditActive){
    <div class="relative w-full">
      <span
        class="tag absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-500 pointer-events-none"
      ></span>
      <input
        type="text"
        class="input-secondary pl-16 p-[12px] w-full"
        [value]="channel?.name"
        [(ngModel)]="nameInput"
        (input)="onInputChange()"
        maxlength="24"
      />
    </div>
    }@else {
    <div class="flex gap-[15px] w-full items-center">
      <div class="tag"></div>
      <p>{{ channel?.name }}</p>
    </div>
    }
    <p *ngIf="showErrorMessage" class="error-massage">
      Channel-Name bereits vergeben
    </p>
  </div>
</div>
