            <div class="container">
                <div class="flex flex-col w-full">
                    <div class="flex w-full justify-between">
                        <h3>Channel name</h3>
                        @if(isEditActive){
                            <button class="btn-tertiary close" (click)="saveName(nameInput!)">Save</button>
                        }@else {
                            <button class="btn-tertiary close" (click)="toggleEdit()">Edit</button>
                        }
                    </div>
                    <div>
                        @if(isEditActive){
                            <input type="text" [value]="channel?.name"  [(ngModel)]="nameInput">
                        }@else {
                            <p>#{{channel?.name}}</p>
                        }
                    </div>
                </div>
            </div>