<div  [class.container-boarder]="!isEditActive" class="container">
    <div class="flex flex-col w-full gap-[20px]">
        <div class="flex w-full justify-between">
            <h4>Channel name</h4>
            @if(isEditActive){
                <button class="btn-tertiary close" (click)="saveName(nameInput!)">Save</button>
            }@else {
                <button class="btn-tertiary close" (click)="toggleEdit()">Edit</button>
            }
        </div>
        <div>
            @if(isEditActive){
                <input type="text" class="input-secondary p-[20px]" [value]="channel?.name"  [(ngModel)]="nameInput">
            }@else {
                <div class="flex p-[20px]">
                    <div class="tag"></div>
                    <p>{{channel?.name}}</p>
                </div>
            }
        </div>
    </div>
</div>