<section class="flex flex-col items-center">
    <h1>Konto erstellen</h1>
    <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
    <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-[8px]">
            <div>
                <!-- <label for="displayNameId">Display Name: </label> -->
                <input class="input-primary" id="displayName" type="text" placeholder="Name und Nachname"
                    formControlName="displayName" name="displayName" required>
            </div>

            <div>
                <!-- <label for="emailId">Email: </label> -->
                <input class="input-primary" id="email" type="text" placeholder="beispielname@email.com" formControlName="email"
                    name="email" required>
            </div>

            <div>
                <!-- <label for="passwordId">Password: </label> -->
                <input class="input-primary" id="password" type="password" placeholder="Passwort"
                    formControlName="password" name="password" required>
            </div>

            <div class="flex">
                <input id="privacyPolicy" type="checkbox" formControlName="privacyPolicy" name="privacyPolicy" required>
                <p>Ich stimme der <a class="link">Datenschutzerklärung</a> zu.</p>
            </div>

            @if(errorMessage) {
            <div class="error">{{ errorMessage }}</div>
            }
            <button class="btn-primary" type="submit" [disabled]="!registerForm.valid">Weiter</button>
        </div>
    </form>
</section>