<section class="flex flex-col items-center">
    <div class="headline flex flex-col">
        <div class="title w-full">
            <button (click)="backToLogin()" class="btn-back btn-tertiary"
                (mouseenter)="arrowBackImg.src = './assets/img/arrow-back-hover.svg'"
                (mouseleave)="arrowBackImg.src = './assets/img/arrow-back.svg'">
                <img #arrowBackImg src="./assets/img/arrow-back.svg" alt="go back to previous page">
            </button>
            <h1>Konto erstellen</h1>
        </div>
        <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
    </div>
    <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()"
        class="form-group flex flex-col items-center w-full">
        <div class="input-container flex flex-col w-full">
            <div>
                <div class="flex items-center relative">
                    <img class="input-icon absolute" src="./assets/img/person.svg" alt="person">
                    <input
                        class="input-primary"
                        id="displayName"
                        type="text"
                        maxlength="24"
                        placeholder="Name und Nachname"
                        formControlName="displayName"
                        name="displayName"
                        required>
                </div>
                <p class="error-message">
                    @if (registerForm.get('displayName')?.invalid &&
                    registerForm.get('displayName')?.touched)
                        {Diese Feld darf nicht leer sein.}
                </p>
            </div>

            <div>
                <div class="flex items-center relative">
                    <img class="input-icon absolute" src="./assets/img/mail.svg" alt="mail">
                    <input (blur)="checkForExistingUser()" class="input-primary" id="email" type="text"
                        placeholder="beispielname@email.com" formControlName="email" name="email" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                </div>

                <p class="error-message">
                    @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid)
                    {Bitte gib eine gültige E-Mail-Addresse ein.}
                    @else if (emailExists)
                    {Diese E-Mail-Addresse existiert bereits.}
                </p>
            </div>

            <div>
                <div class="flex items-center relative">
                    <img class="input-icon absolute" src="./assets/img/lock.svg" alt="lock">
                    <input class="input-primary" id="password" type="password" placeholder="Passwort"
                        formControlName="password" name="password" required>
                </div>
                <p class="error-message">
                    @if (registerForm.get('password')?.invalid &&
                    registerForm.get('password')?.touched)
                    {Dein Passwort muss min. 6 Zeichen lang sein.}</p>
            </div>
        </div>

        <div class="flex w-full">
            <div class="checkbox-container flex relative">
                <input (click)="toggleCheckboxChecked()" id="policyAccepted" type="checkbox"
                    formControlName="policyAccepted" name="policyAccepted" required>
                <div [class.checkbox-checked]="registerForm.value.policyAccepted" class="checkbox absolute"></div>
            </div>
            <div class="flex flex-col">
                <p>Ich stimme der <a class="link">Datenschutzerklärung</a> zu.</p>
                <p class="error-message">
                    @if (registerForm.get('policyAccepted')?.invalid &&
                    registerForm.get('policyAccepted')?.touched)
                    {Bitte stimme der Datenschutzerklärung zu.}
                </p>
            </div>
        </div>
        <button class="btn-primary self-end" type="submit" [disabled]="!registerForm.valid">Weiter</button>
    </form>
</section>