@import "../../../shared/styles/outside-dashboard.scss";

h1 {
    flex: 1;
    padding-right: 40px;
}

.checkbox-container {
    padding-right: 8px;
    cursor: pointer;

    &:hover {
        .checkbox {
            background-image: url("../../../../assets/img/checkbox-unchecked-hover.svg");
        }

        .checkbox-checked {
            background-image: url("../../../../assets/img/checkbox-checked-hover.svg") !important;
        }
    }

    input[type="checkbox"] {
        width: 24px;
        height: 24px;
        border: none;
        appearance: none;
        cursor: pointer;
    }

    .checkbox {
        width: 24px;
        height: 24px;
        background-image: url("../../../../assets/img/checkbox-unchecked.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        pointer-events: none;
    }

    .checkbox-checked {
        background-image: url("../../../../assets/img/checkbox-checked.svg") !important;
    }
}