@import "./../../../../../styles.scss";

.input-wrapper {
  height: 70px;
  @include dFlex();
  position: relative;
  flex: 1;
  border-radius: 42px;
}

input {
  flex: 1;
  height: 100%;
  border-radius: 42px;
  padding-left: clamp(1rem, 0.0935rem + 4.5325vw, 2.813rem);
  line-height: 70px;
  font-size: 24px;
}

.inputWithSearchIcon {
  padding-right: clamp(1rem, 0.0935rem + 4.5325vw, 2.813rem);
}

.inputWithCloseIcon {
  padding-right: clamp(1rem, 0.0935rem + 4.5325vw, 2.813rem);
}

.search-icon {
  position: absolute;
  right: clamp(1rem, 0.0935rem + 4.5325vw, 2.813rem);
}

.close {
  cursor: pointer;
  height: 40px;
  aspect-ratio: 1;
  background-image: url(../../../../../assets/img/close.svg);
  position: absolute;
  right: 24px;
  transition: 0.2s;

  &:hover {
    background-image: url(../../../../../assets/img/close-hover.svg);
  }
}

.searchbar-handset {
  height: 100%;
  background-color: var(--color-white);

  input{
    height: 48px;
  }
}