<div
  #searchbar
  class="input-wrapper"
  [ngClass]="{ 'z-index-1001': searchService.overlaySearchResultsOpen && (screenSize$|async) === 'handset' }"
>
  <input
    type="text"
    class="input-secondary"
    [ngClass]="
      searchResultsExisting ? 'inputWithCloseIcon' : 'inputWithSearchIcon'
    "
    [placeholder]="(screenSize$|async) === 'handset' ? 'Geh zu...' : 'Devspace durchsuchen'"
    [formControl]="searchControl"
    (focus)="onFocus()"
  />
  @if ( searchResultsExisting ) {
  <div class="close z-index-1001" (click)="closeOverlayAndEmptyInput()"></div>
  } @else {<img
    class="search-icon"
    src="./assets/img/search.svg"
    alt="search icon"
  />}
</div>
