<div #searchbar class="input-wrapper">
  <input
    type="text"
    class="input-secondary"
    [ngClass]="
      searchResultsExisting ? 'inputWithCloseIcon' : 'inputWithSearchIcon'
    "
    [placeholder]="isMobile ? 'Geh zu...' : 'Devspace durchsuchen'"
    [formControl]="searchControl"
  />
  @if ( searchResultsExisting ) {
  <div class="close" (click)="closeOverlayAndEmptyTextarea()"></div>
  } @else {<img
    class="search-icon"
    src="./../../../../assets/img/search.svg"
    alt=""
  />}
</div>
