<li class="list-item channel-list-item" (click)="
    !isInSearchResultsCurrentPostInput
      ? screenService.setMobileDashboardState('message-window')
      : emitChannel()
  " [routerLink]="
    !isInSearchResultsCurrentPostInput
      ? ['/dashboard', 'channel', channel.id]
      : null
  " [ngClass]="{ 'related-to-search-result-post': relatedToSearchResultPost }">

  @if(isInChannelHeader){
    <div class="tag"></div>
  @if((screenSize$|async) === 'handset'){
  <h2>{{ truncate(channel.name, 15) }}</h2>
  }@else {
  <h2>{{ channel.name }}</h2>
  }
  <span class="arrow"></span>
  }@else {
  <div class="tag" [class.tag-is-active]="active"></div>
  <span [class.channel-is-active]="active">{{ channel.name }}</span>
  }
</li>