@import "./../../../../styles.scss";
.channel-list-item {
  gap: 10px !important;
  border-radius: 20px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  .tag {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  .arrow {
    width: 30px;
    height: 30px;
    background-image: url("../../../../assets/img/keyboard-arrow-down-black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  &:hover {
    .tag {
      background-image: url("./../../../../assets/img/tag-blue.svg");
    }
    .arrow {
      background-image: url("../../../../assets/img/keyboard-arrow-down-blue.svg");
    }
    h2 {
      color: var(--color-purple-medium);
    }
  }
  &.related-to-search-result-post {
    &:hover {
      .tag {
        background-image: url("./../../../../assets/img/tag-black.svg");
      }
    }
  }
}
