<li
  class="list-item channel-list-item"
  (click)="
    !isInSearchResultsCurrentPostInput
      ? mobileService.setMobileDashboardState('message-window')
      : emitChannel()
  "
  [routerLink]="
    !isInSearchResultsCurrentPostInput ? ['/dashboard', 'channel', channel.id] : null
  "
  [ngClass]="{ 'related-to-search-result-post': relatedToSearchResultPost }"
>
  <div class="tag"></div>

  @if(isInChannelHeader){
    <h2>{{ channel.name }}</h2>
    <span class="arrow"></span>
  }@else {
  <span>{{ channel.name }}</span>
  }
</li>
