<li
  class="list-item channel-list-item"
  (click)="
    !inCurrentPostInput
      ? mobileService.setMobileDashboardState('message-window')
      : null
  "
  [routerLink]="
    !inCurrentPostInput ? ['/dashboard', 'channel', channel.id] : null
  "
  [ngClass]="{ 'related-to-search-result-post': relatedToSearchResultPost }"
>
  <div class="tag"></div>

  @if(isInChannelHeaderUsed){
    <h2>{{ channel.name }}</h2>
    <span class="arrow"></span>
  }@else {
  <span>{{ channel.name }}</span>
  }
</li>
