@import "./../../../../styles.scss";

.channel-list-item {
  gap: 10px !important;
  border-radius: 20px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  &:hover {
    .tag {
      background-image: url("./../../../../assets/img/tag-blue.svg");
    }
  }
  &.related-to-search-result-post {
    &:hover {
          .tag {
      background-image: url("./../../../../assets/img/tag-black.svg");
    }

    }
  }
}

.tag {
  width: 24px;
  aspect-ratio: 1;
  background-image: url("./../../../../assets/img/tag-black.svg");
}
