<div class="profiel-view-main">
    <img class="user-img" src="" alt="User-img">
    <div class="name-and-status">
        <div class="name-and-setting">
            <h1>Testbert</h1>
            <button class="link">Bearbeiten</button>
        </div>
        <div class="status">
            <img src="" alt="status">
            <span>Anwesend / Abwesend</span>
        </div>
    </div>
    <div class="mail-info">
        <div class="mail-header">
            <img src="" alt="mail">
            <h3>E-mai-Adresse</h3>
        </div>
        <span class="mail-address">testbert@rest.test</span>
    </div>
</div>
