@import './../../../styles.scss';

.profil-view-main{
    width: clamp(17.5rem, 15.0625rem + 12.1875vw, 22.375rem);
    padding: clamp(1.25rem, 0.6250rem + 3.1250vw, 2.5rem);
    gap: clamp(1.25rem, 0.4685rem + 3.9075vw, 2.813rem);
}

.user-img{
    width: clamp(7.5rem, 5.0000rem + 12.5000vw, 12.5rem);
    border-radius: 50%;
}

.user-name{
    color: var(--color-black);
    width: clamp(17.5rem, 16.8750rem + 3.1250vw, 18.75rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-h3{
    margin: 0px 0px 0px 20px;
}

.status-txt{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-green);
    margin: 0px 0px 0px 8px;
}

.mail-link{
    margin: 0px 0px 0px 48px;
    color: var(--color-blue);
}

.close {
  background-image: url("./../../../assets/img/close.svg");
  &:hover {
    background-image: url("./../../../assets/img/close-hover.svg");
  }
}

.closeProfile{
    display: none;
}

.edit-view{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.showEdit{
    display: flex;
}

.edit-mobile-icon{
    display: none;
    background-color: var(--color-purple-white);
    padding: 4px;
    border-radius: 15px;

    @include respond-to(xs) {
        display: flex;
    }
}

.edit-span{
    @include respond-to(xs) {
        display: none;
    }
}
