<div class="profil-view-main flex flex-col items-center justify-between"
    *ngIf="(user$ | async) as user">
    <app-header-overlay class="flex items-center justifiy-center w-full" [overlayHeadline]="'Profil'"/>
    <div class="img-area flex items-center justify-center w-full">
        <img class="user-img" [src]="user.photoUrl" alt="user img">
    </div>
    <div class="profile-mid-area flex flex-col w-full">
        <div class="mid-head flex items-center justify-between w-full">
            <h1 class="user-name">{{ user.name }}</h1>
            <button type="button" class="link" (click)="showEdit()"><img class="edit-mobile-icon" src="./assets/img/edit.svg" alt=""><span class="edit-span">Bearbeiten</span></button>
            <app-edit-profile class="edit-view"></app-edit-profile>
        </div>
        <div class="mid-section flex">
            <img class="status" src="./assets/img/online.svg" alt="">
            <h3 class="status-txt">Akiv</h3>
        </div>
    </div>
    <div class="profile-bottom-area flex flex-col w-full">
        <div class="mail-section flex items-center">
            <img class="mail-profile-icon" src="./assets/img/mail-profil-view.svg" alt="mail icon">
            <h3 class="profile-h3">E-Mail-Adresse</h3>
        </div>
        <a class="mail-link" href="">{{ user.email }}</a>
    </div>
</div>
