@if ((messages$ | async); as messages) {
  @if (messages.length > 0) {
    @for (message of messages; track $index) {
      <div class="seperator-container flex flex-row place-items-center">
        <div class="seperator"></div>
        <p class="date">{{message.createdAt.toDate().getDate()}}. {{message.createdAt.toDate().toLocaleString('default', { month: 'long' })}}</p>
        <div class="seperator"></div>
      </div>
      <app-displayed-message [message]="message"></app-displayed-message>
    }
  } @else {
    <span>Noch keine Messages vorhanden</span>
  }
}
