.conversation-window {
  background-color: var(--color-white);
  position: relative;
  border-radius: 30px;
  height: 100%;
}

app-conversation-header {
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  z-index: 2;
}

app-window-display {
  overflow-y: auto;
  margin-top: 96px;
  height: calc(100vh - 82px);
}

app-current-post-input {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 0px -6px 12px -6px #ffffff;
}

.below-from-header-searchbar {
  width: 100%;
  height: 100vh;
  // height: calc(100vh - 205px);
}

