.conversation-window {
  max-height: calc(100vh - 115px);
  background-color: var(--color-white);
  position: relative;
  // >* {
  //   padding: 0 16px;
  // }
}

app-conversation-header {
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  z-index: 2;
}

app-window-display {
  overflow-y: auto;
  margin-top: 68px;
  margin-bottom: 170px;
  height: calc(100vh - 82px);
}

app-current-post-input {
  position: absolute;
  bottom: 0px;
  right: 16px;
  left: 16px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 12px 6px #ffffff;
}

.below-from-header-searchbar {
  width: 100%;
  height: calc(100vh - 205px);
}
