@import "./../../../../styles.scss";
.user-list-item {
  gap: 15px !important;
  border-radius: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.profil-img-and-status {
  position: relative;
  width: 50px;
  aspect-ratio: 1;
}

.profil-img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.status {
  position: absolute;
  right: 0;
  bottom: 0;
}

.related-to-search-result-post{
  .profil-img-and-status{
    width: 24px;
  }
  .profil-img{
    width: 24px;
  }
}