<li
  class="list-item user-list-item"
  (click)="!inCurrentPostInput && pickOutAndNavigateToChat()"
  [ngClass]="{ 'related-to-search-result-post': relatedToSearchResultPost }"
>
  <div class="profil-img-and-status">
    <img class="profil-img" src="{{ user.photoUrl }}" alt="Profilbild" />
    @if (!relatedToSearchResultPost) {
    <img
      class="status"
      [src]="
        user.active
          ? 'assets/img/online-with-white-circle.svg'
          : 'assets/img/offline-with-white-circle.svg'
      "
      alt="Status"
    />
    }
  </div>
  <div>
    <span>
      {{ user.name }}
    </span>
    @if (currentUserId == user.uid) {
    <span>(Du)</span>
    }
  </div>
</li>
