<li
  class="list-item user-list-item"
  (click)="choiceBetweenNavigateAndProfile()"
  [ngClass]="{
    'related-to-search-result-post': relatedToSearchResultPost,
    'in-header-chat': inHeaderChat
  }"
>
  @if (user$ | async; as user) {
    <div class="profil-img-and-status">
      <img class="profil-img" src="{{ user.photoUrl }}" alt="Profilbild" />
      @if (!relatedToSearchResultPost) {
      <img
        class="status"
        [src]="
          (currentUserId$ | async) === user.uid
            ? 'assets/img/online-with-white-circle.svg'
            : user.active
            ? 'assets/img/online-with-white-circle.svg'
            : 'assets/img/offline-with-white-circle.svg'
        "
        alt="Status"
      />
      }
    </div>
    <div>
      <span [ngClass]="{ 'in-header-chat': inHeaderChat }">
        {{ user.name }}
      </span>
      @if ((currentUserId$ | async) == user.uid) {
      <span [ngClass]="{ 'in-header-chat': inHeaderChat }">(Du)</span>
      }
    </div>
  }
</li>
