@import './../../../../../styles.scss';

.btn-dropdown {
    height: 46px;
    gap: 12px;
    font-weight: 700;
    color: var(--color-purple-medium);
    filter: brightness(0);

    &:hover {
        filter: brightness(1);
    }
}

.arrow-rotate {
    rotate: -90deg;
}

.contacts-list {
    padding-left: 24px;
    padding-top: 28px;
    @include dFlex($g: 13px, $ai: flex-start);
    flex-direction: column;
}