@import './../../../../../styles.scss';

.btn-dropdown {
    height: 46px;
    gap: 12px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-purple-medium);
    filter: brightness(0);

    &:hover {
        filter: brightness(1);

        @include respond-to(xs) {
            filter: brightness(0);
        }
    }
}

.arrow-rotate {
    rotate: -90deg;
}

.contacts-list {
    padding-left: clamp(1rem, 0.7500rem + 1.2500vw, 1.5rem);
    padding-top: 28px;
    @include dFlex($g: 13px, $ai: flex-start);
    flex-direction: column;
}