@import './../../../../../styles.scss';

.btn-dropdown {
    gap: 12px;
    color: var(--color-purple-medium);
    filter: brightness(0);
    height: 46px;
}

.brightness-0 {
    .arrow-dropdown {
        rotate: -90deg;
    }

    &:hover {
        filter: brightness(1);
    }
}

.contacts-list {
    padding-left: 45px;
    padding-top: 30px;
    @include dFlex($g: 13px, $ai: flex-start);
    flex-direction: column;
}