@import "../../../styles.scss";

:host {
  display: block;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-white);
}

:host.overlay-web {
  max-width: clamp(36.25rem, 13.75rem + 37.5vw, 58.75rem);
  max-height: clamp(43.75rem, 30rem + 22.9167vw, 57.5rem);
  border-radius: 0 30px 30px 30px;
  box-shadow: 0px 2px 10px 0px #00000014;
  margin-top: -15px;
  margin-left: 43px;
  border: 1px solid var(--color-purple-light-lines);
}

.results-list-handset {
  height: calc(100vh - 148px);
  max-width: 100vw;
}

.results-list-web {
  max-width: 100%;
  margin-right: 48px;
}

:host.overlay-web {
  .results-list {
    width: fit-content;
  }
}

li {
  max-width: 100%;
  width: fit-content !important;
}
