@import "../../../styles.scss";

.overlay-search-results-mobile {
  overflow-y: scroll;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto; // <- Scrollbar
  -webkit-overflow-scrolling: touch;
  background-color: white;
}

.results-list {
  width: 100vw;
  height: calc(100vh - 102px);
  padding: 24px 61px;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 13px);
  flex-direction: column;
  overflow-x: hidden;
  li {
    width: 100%;
  }
}