@import "../../../styles.scss";


:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto; // <- Scrollbar
  -webkit-overflow-scrolling: touch;
  background-color: white;
}

.results-list {
  height: calc(100vh - 184px);
}
