<div class="flex flex-col w-full gap-[20px]">
  <div class="flex w-full flex-col gap-[20px]">
    <div class="flex w-full items-center justify-between">
      <h4>Beschreibung</h4>
      @if(isEditActive){ @if((screenSize$|async) === 'handset'){
      <button class="btn" (click)="saveDescription(descriptionInput!)">
        <span class="save"></span>
      </button>
      }@else {
      <button class="nameTag" (click)="saveDescription(descriptionInput!)">
        Speichern
      </button>
      } }@else { @if((screenSize$|async) === 'handset'){
      <button class="btn" (click)="toggleEdit()">
        <span class="edit"></span>
      </button>
      }@else {
      <button class="nameTag" (click)="toggleEdit()">Bearbeiten</button>
      } }
    </div>
    <div class="w-full">
      @if(isEditActive){
      <textarea
        class="input-secondary p-[20px] w-full resize-none"
        [(ngModel)]="descriptionInput"
        [value]="channel?.description"
        rows="4"
      ></textarea>
      }@else {
      <p
        class="w-full whitespace-pre-line max-h-[6rem] max-w-[792px] word-break overflow-y-auto"
      >
        {{ channel?.description }}
      </p>
      }
    </div>
  </div>
  <span class="separable w-full mt-[10px] mb-[10px]"></span>
  <div class="flex flex-col w-full gap-[20px]">
    <h4>Erstellt von</h4>
    @if(user$ | async; as user){
    <app-user-list-item [user]="user" [showProfile]="true" />
    }
  </div>
</div>
