<div class="input-wrapper">
  <input
    type="text"
    class="input-secondary"
    placeholder="Devspace durchsuchen"
    [formControl]="searchControl"
  />
  <img class="search-icon" src="./../../../../assets/img/search.svg" alt="" />
</div>

@if (results().length > 0) {
  <ul class="results-list">
    @for (item of results(); track item.id) {
      <li>
        @switch (item.type) {
          @case ('user') { 👤 {{ item.name }} }
          @case ('channel') { # {{ item.name }} }
          @case ('chatMessage') { 💬 {{ item.text }} }
          @case ('channelMessage') { 💬 [Channel] {{ item.text }} }
          @case ('answer') { ↪ {{ item.text }} }
          @default { {{ item | json }} }
        }
      </li>
    }
  </ul>
} @else {
  <div>Keine Treffer</div>
}
