@import "./../../../../../styles.scss";

.current-post-input {
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  @include dFlex($g: 15px);
  flex-direction: column;
  border: 1px solid var(--color-purple-light-lines);

  &:hover {
    border: 1px solid var(--color-purple-light);
    .add-emoji {
      background-image: url("./../../../../../assets/img/emoji-black.svg?v=1");
    }
    .add-user-or-channel {
      background-image: url("./../../../../../assets/img/alternate-email-black.svg?v=1");
    }
  }

  &:focus-within {
    border: 1px solid var(--color-purple-medium);
  }
}

.textarea-wrapper {
  width: 100%;

  .post-text-input {
    width: 100%;
    font-size: 18px;
    resize: none;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &::placeholder {
      color: var(--color-gray);
    }
    &:focus {
      outline: none; /* entfernt den blauen Rahmen */
      box-shadow: none; /* entfernt Schatten, falls Browser ihn setzen */
      border-color: #ccc;
    }
  }
}

.buttons {
  width: 100%;
  @include dFlex($jc: space-between);
}

.add-emoji {
  background-image: url("./../../../../../assets/img/emoji-gray.svg");
  &:hover {
    background-image: url("./../../../../../assets/img/emoji-purple.svg") !important;
  }
}

.add-user-or-channel {
  background-image: url("./../../../../../assets/img/alternate-email-gray.svg");
  &:hover {
    background-image: url("./../../../../../assets/img/alternate-email-purple.svg") !important;
  }
}

.send {
  height: 40px;
  width: 40px;
  background-image: url("./../../../../../assets/img/send-icon.svg");
  &:hover {
    background-image: url("./../../../../../assets/img/send-icon-hover.svg");
  }
}