app-displayed-post {
    display: flex;
    border-radius: 30px;
}

.seperator-container {
    width: 100%;
    margin: 4px 0;

    .seperator {
        width: 100%;
        height: 2px;
        background-color: var(--color-purple-white);
    }

    p {
        padding: 6px 16px;
        border: 2px solid var(--color-purple-white);
        border-radius: 30px;
    }
}

.date {
    white-space: nowrap;
}

.messages-container {
  height: 100%;
  overflow-y: auto;  // wichtig!
  
}

.highlight {
    background-color: var(--color-purple-light-lines);
}