@import "./../../../../../../styles.scss";

.message-card {
  width: 100%;
  padding: 16px 48px 16px 16px;
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 16px);
}

.profil-img {
  min-width: 50px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
}

.message-content {
  @include dFlex($g: 8px, $ai: flex-start);
  flex-direction: column;
}

.infos-message {
  @include dFlex($g: 20px);

  span {
    font-size: 16px;
  }
}

.message-time {
  color: var(--color-gray);
}

.text {
  font-size: 17px;
  background-color: var(--color-purple-white);
  padding: 15px;
  border-radius: 0 20px 20px 20px;
  cursor: pointer;
}

.interactions {
  gap: 16px;

  .reaction {
    padding: 4px 12px;
    border: 2px solid var(--color-purple-white);
    border-radius: 30px;
    flex-direction: row !important;
    gap: 8px;

    &:hover {
      background-color: var(--color-purple-white);
      cursor: pointer;

      .reaction-img {
        transform: scale(1.1);
      }
    }
  }
}

.answers {
  gap: 20px;
}

.message-current-user {
  padding: 16px 16px 16px 48px;
  flex-direction: row-reverse;

  .message-content {
    @include dFlex($g: 8px, $ai: flex-end);
    flex-direction: column;

    div:first-child {
      flex-direction: row-reverse;
    }

    .text {
      background-color: var(--color-purple-light);
      border-radius: 20px 0 20px 20px;
      color: var(--color-white);
    }

    .answers {
      flex-direction: row-reverse;
    }
  }
}