@import "./../../../../../../styles.scss";

.post-container {
  padding: 10px 0;
  overflow-x: hidden;
}

.post {
  gap: 16px;
  padding: 6px 48px 6px 16px;
}

.profile-img {
  img {
    min-width: 50px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
  }
}

.post-time {
  font-size: 16px;
  color: var(--color-gray);
}

.post-content {
  gap: 8px;

  .post-header {
    gap: 20px;
  }

  .text {
    width: fit-content;
    font-size: 18px;
    background-color: var(--color-purple-white);
    padding: 16px;
    border-radius: 0 20px 20px 20px;
    cursor: pointer;
  }

  .answers {
    gap: 4px;

    button {
      text-align: left;
    }
  }
}

.interactions-container {
  margin-left: 82px;
  padding-top: 2px;
}

.interactions {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 8px;
  background-color: var(--color-white);

  .reaction {
    width: max-content;
    padding: 3px 14px;
    border: 2px solid var(--color-purple-white);
    border-radius: 30px;
    flex-direction: row !important;
    gap: 4px;
    overflow: hidden;

    &:hover {
      background-color: var(--color-purple-white);
      cursor: pointer;

      .reaction-img {
        transform: scale(1.1);
      }
    }

    .reaction-img {
      width: 32px;
      height: 32px;
    }
  }

  &.fill-row {
    .add-reaction {
      grid-column: 4;
    }
  }
}

.add-reaction {
  gap: 3px;

  .toggle-reactions-btn {
    border: 2px solid var(--color-purple-white);
    border-radius: 30px;
    height: 40px;
    aspect-ratio: 1 / 1;

    &:hover {
      transform: scale(1.1);
      color: var(--color-purple-dark);
      font-weight: 600;
    }
  }

  .minimize {
    background-image: url("../../../../../../assets/img/minimize.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url("../../../../../../assets/img/minimize-hover.svg");
    }
  }

  .btn-tertiary {
    width: 40px;
    aspect-ratio: 1 / 1;
  }
}

.post-current-user {
  align-items: end;

  .post {
    padding: 6px 16px 6px 48px;
    flex-direction: row-reverse;

    .post-content {
      align-items: end;

      .post-header {
        flex-direction: row-reverse;
      }

      .text {
        background-color: var(--color-purple-light);
        border-radius: 20px 0 20px 20px;
        color: var(--color-white);
      }

      .answers button {
        text-align: end;
      }
    }
  }

  .interactions-container {
    margin-left: 0;
    margin-right: 82px;
    justify-content: end;

    .interactions {
      justify-content: end;
    }
  }
}

.clicked {
  background-color: var(--color-purple-white);

  .post-content .text {
    background-color: var(--color-white);
  }
}