<h1><a href="#"><img src="assets/img/back-arrow.png" alt="Arrow Back"></a>Passwort zurücksetzen</h1>
<p>Bitte geben Sie Ihre E-mail-Adresse ein.</p>

<form action="" [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
    <div class="form-group flex flex-col items-center gap-[8px]">
        <input class="input-primary"  type="email" placeholder="email" name="email" required>
    </div>
</form>

<p>Wir senden Ihnen eine E-mail, über die Sie Ihr Passwort ändern können.</p>

<div class="send-btn">
    <button class="btn" type="submit" [disabled]="!confirmForm.valid">E-Mail senden</button>
</div>

