<section class="flex flex-col items-center">
    <div class="headline flex items-center justify-center">
        <button  class="btn-tertiary" (mouseenter)="arrowBackImg.src = './assets/img/arrow-back-hover.svg'"
            (mouseleave)="arrowBackImg.src = './assets/img/arrow-back.svg'">
            <img #arrowBackImg src="./assets/img/arrow-back.svg" alt="go back to previous page">
        </button>
        <h1>Passwordt zurücksetzen</h1>
    </div>
    <p>Bitte geben Sie Ihre E-Mail_adresse ein.</p>
    <form action="" class="form-group flex flex-col items-center w-full" (ngSubmit)="onSubmit()">
        <div class="input-cotainer flex flex-col w-full">
            <div>
               <div class="flex items-center relative">
                    <img class="input-icon absolute" src="./assets/img/mail.svg" alt="mail">
                    <input class="input-primary" id="emailId" type="text" placeholder="beispielname@email.com"
                         name="email" required>
                </div>
                @if (showErrorMessage) {
                    <p class="error-message">E-Mail-Adresse nicht bekannt.</p>
                }
            </div>
            <p class="confirm-para">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
            <div class="btn-area flex items-end justify-end w-full">
                <button class="btn-primary" type="submit" >E-Mail senden</button>
            </div>
        </div>
    </form>
</section>
