@import './../../../../styles.scss';
@import "../../../shared/styles/outside-dashboard.scss";

section, form {
    background-color: var(--color-white);
    gap: 20px;
    width: 700px;

    @include respond-to(sm) {
        width: unset;
    }
}

.headline {
    text-align: center;
    gap: 0px;

    @include respond-to('515') {
        flex-direction: column;
        align-items: baseline;
        gap: 0;
    }

    .counterweight{
        width: 40px;
        height: 40px;

        @include respond-to('515') {
            display: none;
        }
    }
}

.input-cotainer {
    gap: 12px;
    height: 248px;
    width: 75%;

    @include respond-to('515') {
        width: 100%;
    }

    .inputAndErrorMessage{
        height: 72px;
        width: 75%;

        @include respond-to(sm) {
            width: 100%;
        }
    }
}

.error-message {
    height: 16px;
    padding-top: 4px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--color-pink);
    line-height: 1;
}

.input-icon {
    left: 24px;

    @include respond-to('515') {
        left: 4px;
    }
}

input {
    padding-left: 64px;
}

.input-primary-confirm{
    background-color: var(--color-purple-white);
    padding: 8px 64px;

    @include respond-to('515') {
        padding: 8px 28px;
    }
}

.google-login-btn {
    //padding: 12px 32px; for desktop
    padding: 6px 32px;
    gap: 20px;
    border-radius: 100px;
    background-color: var(--color-purple-white);
    color: var(--color-purple-dark);

    img {
        height: 38px;
    }
}

.submit-btns {
    //gap: 30px; for desktop
    gap: 20px;
}