@import './../../../../styles.scss';
@import "../../../shared/styles/outside-dashboard.scss";

section, form {
    background-color: var(--color-white);
    gap: 20px;
}

.headline {
    gap: 58px;
    text-align: center;
}

.input-cotainer {
    gap: 12px;
    height: 248px;

    .inputAndErrorMessage{
        height: 72px;
    }
}

.error-message {
    height: 16px;
    padding-top: 4px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--color-pink);
    line-height: 1;
}

.input-icon {
    left: 24px
}

input {
    padding-left: 64px;
}

.input-primary-confirm{
    background-color: var(--color-purple-white);
    padding: 8px 64px;
}

.google-login-btn {
    //padding: 12px 32px; for desktop
    padding: 6px 32px;
    gap: 20px;
    border-radius: 100px;
    background-color: var(--color-purple-white);
    color: var(--color-purple-dark);

    img {
        height: 38px;
    }
}

.submit-btns {
    //gap: 30px; for desktop
    gap: 20px;
}