@import './../../../../styles.scss';

section, form {
    background-color: var(--color-white);
    gap: 20px;
}

.headline {
    gap: 15px;
    text-align: center;
}

.input-container {
    gap: 12px;
    height: 248px;
}

.error-message {
    height: 16px;
    padding-top: 4px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--color-pink);
    line-height: 1;
}

.input-icon {
    left: 24px
}

input {
    padding-left: 64px;
}

.google-login-btn {
    //padding: 12px 32px; for desktop
    padding: 6px 32px;
    gap: 20px;
    border-radius: 100px;
    background-color: var(--color-purple-white);
    color: var(--color-purple-dark);

    img {
        height: 38px;
    }
}

.submit-btns {
    //gap: 30px; for desktop
    gap: 20px;
}

.flag{
    position: absolute;
    display: none;
    width: 272px;
    z-index: 5;
    right: 0;
    animation: slidInFromRight 0.3s ease-in;
}

.flag-resset{
    background-color: var(--color-purple-dark);
    color: white;
    height: 148px;
    padding: 0px 10px 0px 10px;
    font-size: 36px;
    font-weight: 700;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.showFlag{
    display: flex;
    opacity: 1; 
}

@keyframes slidInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}