@import "../../../../styles.scss";

header {
  width: 100%;
  height: 40px;
  @include dFlex($jc: space-between);
}

h2 {
  font-size: clamp(1.375rem, 1.1528rem + 1.1111vw, 1.5rem);
}

.close {
  transition: 0.2s;
  background-image: url("../../../../assets/img/close.svg");
  
  &:hover {
    background-image: url("../../../../assets/img/close-hover.svg");
  }
}