nav {
  background-color: var(--color-white);
  height: 100%;
  // max-width: 336px;
  // border-radius: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 30px;
  gap: 28px;
  border-radius: 30px;
}

.nav-content {
  height: 100%;
  overflow-y: auto;
}

app-channel-list {
  width: 100%;
}

app-contacts-list {
  width: 100%;
}

.new-message {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(../../../../assets/img/new-message.svg);
  background-color: var(--color-purple-dark);
  position: fixed;
  bottom: 57px;
  right: 16px;
  box-shadow: 0px 6px 10px 0px #00000033;
  &:active {
    background-color: var(--color-purple-light);
  }
}

