nav {
  background-color: var(--color-white);
  //height: 100%;
  // max-width: 336px;
  // border-radius: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 30px;
  gap: 28px;
  border-radius: 30px;

  height: 80dvh !important;
}

.nav-content {
  height: 100%;
  overflow-y: auto;
}

app-channel-list {
  width: 100%;
}

app-contacts-list {
  width: 100%;
}

.new-message {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(../../../../assets/img/new-message.svg);
  background-color: var(--color-purple-dark);
  position: fixed;
  bottom: 57px;
  right: 16px;
  box-shadow: 0px 6px 10px 0px #00000033;
  &:active {
    background-color: var(--color-purple-light);
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-purple-light-lines);
  border-radius: 10px;
  height: 64px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-purple-light);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

::-webkit-scrollbar-track {
  height: 36px;
  background-color: var(--color-white) !important;
  border-radius: 5px;
}

