@import "../../../../styles.scss";

section {
  @include dFlex($ai: flex-start, $g: 20px);
  flex-direction: column;
  padding: 20px 16px 7px 16px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
  input {
    height: 51px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
