<header
  class="flex flex-col w-full"
  [class.header-handset]="(screenSize$ | async) === 'handset'"
  [class.header-tablet]="(screenSize$ | async) === 'tablet'"
  [class.header-web]="(screenSize$ | async) === 'web'"
  [ngStyle]="
    (screenSize$ | async) === 'handset' && dashboardState() === 'sidenav'
      ? { height: '148px' }
      : {}
  "
>
  <section class="header-content flex items-center w-full">
    <div class="logo-box flex items-start">
      @if((screenSize$|async) === 'handset' && dashboardState() !==
      'sidenav'){<button
        (click)="screenService.setDashboardState('sidenav')"
        class="arrow-btn arrow-back self-center"
      ></button
      >}
      <img class="logo-final" src="assets/img/logo.png" alt="Logo DABubble" />
    </div>

    @if ((authService.currentUser$ | async) && (screenSize$|async) !==
    'handset') { <app-search-bar></app-search-bar>}

    <div
      (click)="openSettingsOverlay($event)"
      class="current-user flex justify-end items-center h-full"
    >
      @if((screenSize$|async) === 'web'){
      <h1>{{ (currentUser$ | async)?.name }}</h1>
      }
      <img
        class="profil-img"
        [src]="(currentUser$ | async)?.photoUrl || 'assets/img/no-avatar.svg'"
        (error)="userService.setDefaultImg($event)"
        alt="Profilbild"
      />
      @if((screenSize$|async) !== 'handset'){<button class="arrow-btn"></button
      >}
    </div>
  </section>

  @if ((authService.currentUser$ | async) && (screenSize$|async) === 'handset'
  && dashboardState() === 'sidenav') {
  <div class="searchbar-handset w-full h-full flex items-end">
    <app-search-bar class="w-full"></app-search-bar>
  </div>
  }
</header>
