header {
  background-color: var(--color-purple-white);

  .current-user {
    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--color-black);
      display: block;
    }

    .profil-img {
      aspect-ratio: 1;
      border-radius: 50%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .arrow-btn {
    width: 30px;
    aspect-ratio: 1;
    background-image: url("./../../../../assets/img/keyboard-arrow-down-black.svg");

    &:hover {
      background-image: url("./../../../../assets/img/keyboard-arrow-down-blue.svg");
    }
  }
}

.header-handset {
  height: 80px;

  .header-content {
    height: 80px;
    padding: 15px 16px;
    justify-content: space-between;
  }

  .logo-box {
    gap: 2px;

    .arrow-back {
      rotate: 90deg;
    }

    .logo-final {
      width: 162px;
      height: 45px;
    }
  }

  .current-user {
    .profil-img {
      height: 50px;
    }
  }

  .searchbar-handset {
    padding: 0 16px;
    background-color: var(--color-white);
  }
}

.header-tablet {
  height: 115px;
  padding: 25px 34px 20px 20px;

  .logo-box {
    width: clamp(17.5rem, 5.7727rem + 19.5455vw, 22.875rem) !important;
    padding-left: 24px;
    .logo-final {
      width: clamp(13.625rem, 11.9107rem + 2.6786vw, 15.125rem);
      height: clamp(3.938rem, 3.4386rem + 0.7804vw, 4.375rem);
    }
  }

  app-search-bar {
    flex: 1;
    padding: 0 20px;
  }

  .current-user {
    width: fit-content;
    padding-left: 64px;
    gap: 12px;

    .profil-img {
      height: 70px;
    }
  }
}

.header-web {
  height: 115px;
  padding: 25px 34px 20px 20px;

  .logo-box {
    width: 366px;
    padding-left: 32px;
    .logo-final {
      width: 242px;
      height: 70px;
    }
  }

  app-search-bar {
    min-width: 556px !important;
    flex: 1;
    padding: 0 20px;
  }

  .current-user {
    width: 475px;
    gap: 20px;

    .profil-img {
      height: 70px;
    }
  }

  @media (min-width: 1920px) {
    width: 1920px;
    justify-self: center;
  }
}
