<header
  [ngClass]="
    (screenSize$ | async) === 'web'
      ? 'header-desktop flex place-content-between'
      : 'header-mobile'
  "
>
  @if ((screenSize$|async) === 'handset') {
  <div class="header-mobile-upper-area">
    <div class="logo-box flex items-center">
      @if (mobileDashboardState() == 'sidenav') {
      <img class="logo-final" src="assets/img/logo.png" alt="Logo DABubble" />
      } @else {
      <div class="logo-channel flex items-center">
        <button
          (click)="mobileService.setMobileDashboardState('sidenav')"
          class="arrow-btn arrow-back"
        ></button>
        <img src="assets/img/logo-solo.png" alt="Logo Channel" />
      </div>
      }
    </div>
    <div class="current-user">
      <h1>{{ (currentUser$ | async)?.name }}</h1>
      <img
        class="profil-img"
        [src]="(currentUser$ | async)?.photoUrl"
        alt="Profilbild"
        (click)="showProfile()"
      />
      <app-profile-view-main class="profile-view"></app-profile-view-main>
    </div>
  </div>
  @if ((authService.currentUser$ | async) && mobileDashboardState() ==
  'sidenav') { <app-search-bar></app-search-bar>
  } } @else if ((screenSize$|async) === 'web'){
  <div class="logo-box flex items-center" [ngStyle]="{ 'width.px': 336 }">
    @if (mobileDashboardState() == 'sidenav') {
    <img class="logo-final" src="assets/img/logo.png" alt="Logo DABubble" />
    } @else {
    <div class="logo-channel flex items-center">
      <button
        (click)="mobileService.setMobileDashboardState('sidenav')"
        class="arrow-btn arrow-back"
      ></button>
      <img src="assets/img/logo-solo.png" alt="Logo Channel" />
    </div>
    }
  </div>

  @if ((authService.currentUser$ | async)) { <app-search-bar></app-search-bar>
  }

  <div class="current-user" [ngStyle]="{ 'width.px': 475 }">
    <h1>{{ (currentUser$ | async)?.name }}</h1>
    <img
      class="profil-img"
      [src]="(currentUser$ | async)?.photoUrl"
      alt="Profilbild"
      (click)="showProfile()"
    />
    <button class="arrow-btn" (click)="showProfile()"></button>
    <app-profile-view-main class="profile-view"></app-profile-view-main>
  </div>

  }
</header>
