@import "../../../shared/styles/outside-dashboard.scss";
@import "./../../../../styles.scss";

.reset-content{
    background-color: var(--color-purple-white);
    height: 100vh;
    width: 100vw;
}

header {
    padding: 75px;
    padding-bottom: 0;
    width: 100%;

    .logo{
        height: 70px;
    }

    .show-logo{
        visibility: visible;
    }
}

.reset{
    width: 700px;
    height: 470px;
    background-color: var(--color-white);
    gap: 20px;
    padding: 30px 16px 30px 16px;
    border-radius: 30px;
}

.confirm-form{
    height: 100%;
    width: 75%;
}

section, form {
    background-color: var(--color-white);
    gap: 20px;
    width: 700px;

     @include respond-to(sm) {
        width: unset;
     }
}

.headline {
    gap: 0;
    text-align: center;

    @include respond-to('515') {
        flex-direction: column;
        align-items: baseline;
        gap: 0;
    }

    .counterweight{
        width: 40px;
        height: 40px;

        @include respond-to('515') {
            display: none;
        }
    }
}

.subLine{
    margin: 24px 0px 24px 0px;
}

.input-container {
    gap: 12px;
    width: 75%;

    @include respond-to(sm) {
        width: 100%;
    }

    input {
        padding-left: 64px;

        @include respond-to('515') {
            padding: 8px 28px;
        }

        @include respond-to(xxxs) {
            padding: 8px 12px;
        }
    }
}

.error-message {
    height: 16px;
    padding-top: 4px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--color-pink);
    line-height: 1;
}

.input-area{
    width: 75%;
    margin: 20px 0px 20px 0px;

    @include respond-to(sm) {
        width: 100%;
    }
}

.confirmPara {
    width: 75%;
    color: var(--color-gray);
}

.btn-area{
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.submit-btn {
    gap: 20px;
    white-space: nowrap;
    height: 48px;
}

footer {
    padding-bottom: 16px;
    gap: 16px;
}

.showContnet{
    z-index: 105;
}

.reset-interact{
    height: 370px;

    @include respond-to(sm) {
        width: 100%;
    }
}