<section class="flex flex-col items-center">
    <div class="headline flex flex-col w-full">
        <div class="title w-full">
            <button (click)="backToLogin()" class="btn-tertiary btn-back"
                (mouseenter)="arrowBackImg.src = './assets/img/arrow-back-hover.svg'"
                (mouseleave)="arrowBackImg.src = './assets/img/arrow-back.svg'">
                <img #arrowBackImg src="./assets/img/arrow-back.svg" alt="go back to previous page">
            </button>
            <h1>Passwort zurücksetzen</h1>
        </div>
    </div>
    <form action="" class="form-group flex flex-col items-center w-full" [formGroup]="registerForm"
        (ngSubmit)="onSubmit()">
        <div class="input-container flex flex-col w-full">
            <input class="input-primary" id="password" type="password" placeholder="Neues Passwort"
                formControlName="password" name="password" minlength="6" required>
            <input class="input-primary" id="passwordConfirm" type="password" placeholder="Neues Passwort bestätigen"
                formControlName="passwordConfirm" name="passwordConfirm" minlength="6" required>
        </div>

        <p class="error-message w-full">
            @if (showErrorMessage) {
                Passwörter stimmen nicht überein.
            }
        </p>
    </form>

    <div class="submit-btns flex items-end justify-end w-full">
        <button class="btn-primary" type="submit" [disabled]="!registerForm.valid || showErrorMessage">
            <span>Passwort ändern</span>
        </button>
    </div>
</section>

<div [class.show-toast]="showToast" class="toast-notification">
    <span>Passwort zurückgesetzt</span>
</div>