.reset-content{
    background-color: var(--color-purple-white);
    height: 100vh;
    width: 100vw;
}

header {
    padding: 75px;
    padding-bottom: 0;
    width: 100%;

    .logo{
        height: 70px;
    }

    .show-logo{
        visibility: visible;
    }
}

.reset{
    width: 700px;
    height: 470px;
    background-color: var(--color-white);
    gap: 20px;
    padding: 30px 16px 30px 16px;
    border-radius: 30px;
}

.confirm-form{
    height: 100%;
    width: 75%;
}

section, form {
    background-color: var(--color-white);
    gap: 20px;
}

.headline {
    gap: 15px;
    text-align: center;

    h1 {
        flex: 1;
        padding-right: 40px;
    }
}

.subLine{
    margin: 24px 0px 24px 0px;
}

.input-container {
    gap: 12px;
    width: 100%;
    input {
        padding-left: 64px;
    }

    .error-message {
        height: 16px;
        padding-top: 4px;
        padding-left: 12px;
        font-size: 16px;
        color: var(--color-pink);
        line-height: 1;
    }
}

.input-area{
    width: 75%;
    margin: 20px 0px 20px 0px;
}

.confirmPara {
    width: 75%;
    color: var(--color-gray);
}

.btn-area{
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.submit-btn {
    gap: 20px;
    white-space: nowrap;
    height: 48px;
}

footer {
    padding-bottom: 16px;
    gap: 16px;
}

.showContnet{
    z-index: 105;
}

.flag-resset{
    position: absolute;
    display: none;
    width: 272px;
    z-index: 5;
    right: 0;
    animation: slidInFromRight 0.3s ease-in;
    background-color: var(--color-purple-dark);
    color: white;
    height: 148px;
    padding: 0px 10px 0px 10px;
    font-size: 36px;
    font-weight: 700;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.showFlag{
    display: flex;
    opacity: 1; 
}

@keyframes slidInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}