<app-header></app-header>

<section class="flex flex-col items-center">
    <div class="headline flex w-full">
        <button  class="btn-tertiary" (mouseenter)="arrowBackImg.src = './assets/img/arrow-back-hover.svg'"
            (mouseleave)="arrowBackImg.src = './assets/img/arrow-back.svg'">
            <img #arrowBackImg src="./assets/img/arrow-back.svg" alt="go back to previous page">
        </button>
        <h1>Passwort zurücksetzen</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
        class="form-group reset-form flex flex-col items-center justify-between w-full">
        <div class="input-container flex flex-col items-center justify-center w-full">
            <div class="input-area flex items-center relative">
                <input class="input-primary" id="password" type="password" placeholder="Neues Passwort"
                    formControlName="password" name="password" minlength="6" required>
            </div>
            <div class="input-area flex items-center relative">
                <input class="input-primary" id="passwordConfirm" type="password" placeholder="Neues Passwort bestätigen"
                    formControlName="passwordConfirm" name="passwordConfirm" minlength="6" required>
            </div>
        </div>
        <p *ngIf="showErrorMessage" class="error-message">Passwörter stimmen nicht überein</p>
        <div class="btn-area flex justify-end items-end">
            <button class="btn-primary self-end" type="submit" [disabled]="!registerForm.valid || showErrorMessage">Passwort ändern</button>
        </div>
    </form>
</section>

<footer class="flex place-content-center">
    <a class="link" routerLink="/imprint">Impressum</a>
    <a class="link" href="/privacy-policy">Datenschutz</a>
</footer>
