<h1><a href="#"><img src="assets/img/back-arrow.png" alt="Arrow Back"></a>Passwort zurücksetzen</h1>

<form action="" [formGroup]="rstetFrom">
    <div class="form-group flex flex-col items-center gap-[8px]">
        <input class="input-primary" type="text" name="password" placeholder="Neues Passwort" required id="">
        <input class="input-primary" type="text" name="confirmPassword" placeholder="Neues Password bestätigen" required>

        <div class="send-btn">
            <button class="btn" type="submit" [disabled]="!confirmForm.valid">E-Mail senden</button>
        </div>
    </div>
</form>