@import "../../../shared/styles/outside-dashboard.scss";
@import "./../../../../styles.scss";

h1 {
  flex: 1;
  padding-right: 40px;
}

.input-container {
  padding-top: 16px;
  gap: 40px;

  input {
    padding-left: clamp(1rem, 0.5rem + 2.5vw, 2rem) !important;
  }
}