@import "./../../../styles.scss";

.list-item {
  @include dFlex($jc: flex-start);
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  width: fit-content;
  &:hover {
    background-color: var(--color-purple-white);
    span {
      color: var(--color-purple-medium);
      font-weight: 700;
    }
  }
  span {
    white-space: nowrap;
    font-size: 18px;
  }
  &.related-to-search-result-post {
    cursor: auto;
    gap: 10px !important;
    &:hover {
      background-color: unset;
      
      span {
        color: inherit;
        font-weight: 600;
      }
    }
    span {
      font-weight: 600;
    }
  }
}

