@import "./../../../styles.scss";

.list-item {
  @include dFlex($jc: flex-start);
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  width: fit-content;
  max-width: 100%;
  > div:first-child {
    flex-shrink: 0;
  }
  > div:last-child {
    @include dFlex($jc: flex-start, $ai: center); // Name + (Du) in einer Reihe
    gap: 4px; // kleiner Abstand dazwischen
    flex: 1 1 auto; // nimmt den restlichen Platz
    min-width: 0; // nötig für ellipsis
    overflow: hidden; // damit ellipsis funktioniert
    > span:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1 1 auto;
      min-width: 0;
    }
    > span:last-child {
      flex-shrink: 0;
    }
  }
  &:hover {
    background-color: var(--color-purple-white);
    span {
      color: var(--color-purple-medium);
      font-weight: 700;
    }
  }
  span {
    white-space: nowrap;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
    flex: 1 1 auto;
    min-width: 0;
    &.in-header-chat {
      font-size: 20px;
      font-weight: 700;
    }
  }
  &.related-to-search-result-post {
    cursor: auto;
    gap: 10px !important;
    &:hover {
      background-color: unset;

      span {
        color: inherit;
        font-weight: 600;
      }
    }
    span {
      font-weight: 600;
    }
  }
}
