<div
  class="interaction-options flex place-content-center"
  [ngClass]="{ 'post-current-user': senderIsCurrentUser }"
>
  <button
    (click)="reactToPostWithPreselection(':thumbs-up:')"
    class="btn-tertiary"
  >
    <img
      class="reaction-img"
      src="./assets/img/emojis/thumbs-up.svg"
      alt="check-mark"
    />
  </button>
  <button
    (click)="reactToPostWithPreselection(':thumbs-down:')"
    class="btn-tertiary"
  >
    <img
      class="reaction-img"
      src="./assets/img/emojis/thumbs-down.svg"
      alt="thumbs-up"
    />
  </button>
  <button
    (click)="openEmojiPickerOverlay($event)"
    class="add-reaction btn-tertiary"
  ></button>

  @if(conversationWindowState === 'conversation') {
  <button
    (click)="
      postService.openAnswers(
        post.id!,
        currentConversationType,
        currentConversationId
      );
      overlayService.closeAll()
    "
    class="open-answers btn-tertiary"
  ></button>
  } @if (senderIsCurrentUser) {
  <button
    (click)="openEditPostBtnOverlay($event)"
    class="more-options btn-tertiary"
  ></button>
  }
</div>
