<section [ngClass]="overlay" class="flex w-full justify-center max-h-[411px]">
  @if(!clickedAddMember){
  <div
    class="flex flex-col items-start gap-[15px] overflowYAuto relative w-full"
    [class.show]="!clickedAddMember"
  >
    <div class="flex w-full">
      <div
        class="flex flex-col gap-[13px] w-full"
        [ngStyle]="{ 'max-width': '375px' }"
      >
        @for(user of users$| async; track $index){
        <app-user-list-item [user]="user" [showProfile]="true" />
        }
      </div>
    </div>

    <div class="flex sticky bottom-0 pt-[20px] w-full bg-white">
      <button
        class="list-item user-list-item btn"
        (click)="choiseBetweenComponentAndHeader($event)"
      >
        <div class="add-person"></div>
        <span> Mitglieder hinzufugen</span>
      </button>
    </div>
  </div>
  }@else {
  <app-add-member-to-channel
    [channelDetails$]="channelDetails$"
    [class.show]="clickedAddMember"
  />
  }
</section>
