<section [ngClass]="overlay" class="flex flex-col w-full justify-center max-h-[411px]">
  @if(!clickedAddMember){
  <div
    class="flex flex-col items-start gap-[15px] overflowYAuto relative w-full pl-[16px]"
    [class.show]="!clickedAddMember"
  >
    <div class="flex w-full">
      <div
        class="flex flex-col gap-[13px] w-full"
        [ngStyle]="{ 'max-width': '375px' }"
      >
        @for(user of users$| async; track $index){
        <app-user-list-item [user]="user" [showProfile]="true" />
        }
      </div>
    </div>
  </div>
  <div class="btn-container flex w-full pl-[16px] rounded-b-[10px]">
    <button
      class="list-item user-list-item btn"
      (click)="choiceBetweenComponentAndHeader($event)"
    >
      <div class="add-person"></div>
      <span> Mitglieder hinzufügen</span>
    </button>
  </div>

  }@else {
  <app-add-member-to-channel
    [channelDetails$]="channelDetails$"
    [class.show]="clickedAddMember"
  />
  }
</section>
