<div [ngClass]="overlay">
  @if(!clickedAddMember){ 
    <div class="flex flex-col items-start gap-[15px]">
        @for(user of users$| async; track $index){
        <app-user-list-item [user]="user" [showProfile]="true"/>
        }
        <button class="list-item user-list-item" (click)="onAddMemberClick()">
          <div class="flex w-[32px] container"><span class="add-person"></span></div>
          <span> Mitglieder hinzufugen</span>
        </button>
    </div>
  }@else {

    <app-add-member-to-channel [channelDetails$]="channelDetails$" />
  }
</div>
