.overlay-right {
  padding: 20px 16px;
}

.overflowYAuto {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.profil-img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.user-list-item {
  gap: 15px !important;
  border-radius: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-container {
  padding-top: 8px;
  background-color: var(--color-white);
  position: sticky;
  bottom: 0px;
  box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.08);
}

.btn {
  .add-person {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url("../../../../assets/img/person-add.svg");
    transition: background-image 0.2 ease;
    background-color: var(--color-purple-white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    transition: background-image 0.2s ease;
  }
  &:hover {
    .add-person {
      background-image: url("../../../../assets/img/person-add-hover.svg");
    }
  }
}

.overlay {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease-in, transform 1s ease-in;
  display: none;
}

.overlay,
.overlay-right,
.overlay-left {
  // width: clamp(17.5rem, 6.3889rem + 55.5556vw, 23.75rem);
  max-width: 510px;
}

.overlay.show {
  opacity: 1;
  transform: translateY(0);
  display: block;
}