<div>
  <div class="flex justify-around">
    <div>
      <button><img src="" alt="" /></button>
      <div>
        <img src="" alt="" />
        <h2 class="font-bold text-xl">Channels</h2>
      </div>
    </div>
    <button (click)="displayCreateChannelForm()">+</button>
  </div>
</div>
<div class="channel-list">
  @for (channel of channels$ | async; track $index) {
  <app-channel-list-item [channel]="channel"></app-channel-list-item>
  }
</div>
<button (click)="displayCreateChannelForm()">Channel hinzufügen</button>
