<div class="flex justify-between w-full">
  <button (click)="channelsVisible = !channelsVisible" class="btn-dropdown">
    <div class="flex items-center">
      <img
        [class.arrow-rotate]="!channelsVisible"
        class="arrow-dropdown"
        src="./assets/img/arrow-drop-down.svg"
        alt="arrow-drop-down"
      />
      <img src="./assets/img/workspaces.svg" alt="account-circle" />
      <span>Channels</span>
    </div>
  </button>

  <div class="flex items-center">
    <button (click)="openCreateChannelFormOverlay()" class="btn-tertiary">
      <img src="./assets/img/add.svg" alt="add button" />
    </button>
  </div>
</div>

@if (channelsVisible) {
<div class="channel-list">
  @for (channel of channels$ | async; track $index) {
  <app-channel-list-item [channel]="channel" (click)="mobileService.mobileDashboardState.set('message-window')"></app-channel-list-item>
  }
  <button
    (click)="openCreateChannelFormOverlay()"
    class="create-channel-btn list-item"
  >
    <img src="./assets/img/add-circle.svg" alt="add button" />
    Channel hinzufügen
  </button>
</div>
}
