@import "./../../../../../styles.scss";
@import "../../../../shared/styles/list-item.scss";

:host {
  margin-bottom: 25px;
}

.btn-dropdown,
.btn-dropdown div {
  height: 46px;
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-purple-medium);
  filter: brightness(0);

    &:hover {
        filter: brightness(1);
        @include respond-to('959') {
            filter: brightness(0);
        }
    }
}

.arrow-rotate {
  rotate: -90deg;
}

.channel-list {
  padding-left: clamp(1rem, 0.7500rem + 1.2500vw, 1.5rem);
  padding-top: 28px;
  @include dFlex($g: 13px, $ai: flex-start);
  flex-direction: column;
}

.create-channel-btn {
  margin-top: 25px;
  margin-left: 24px;
  gap: 10px !important;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--color-purple-medium);
  font-weight: 600;
  filter: brightness(0);

  &:hover {
    filter: brightness(1);
  }
}
