
<div [ngClass]="onBottom ? 'overlay-bottom' : overlay "  [ngStyle]="overlay ? { 'padding': '0'} : {}" class="flex">
  @if(channelDetails$ | async; as channelDetails){
  <div class="mytest" [ngStyle]="overlay ? { 'max-width':'541px'} : {} ">

      <div>
          <app-header-overlay [overlayHeadline]="'Leute hinzufugen'" [overlayRef]="overlayRef" />
          <div class="flex gap-[15px]">
              <span class="tag"> </span>
              <span class="flex w-full">{{ channelDetails.name }}</span>
          </div>
      </div>
      <div class="flex w-full flex-col">

        <div class="cont" >
          @for(user of ListWithMember; track $index){
          <li class="container">
            <img class="profil-img" src="{{ user.photoUrl }}" alt="Profilbild" />
            <span>{{ getFirstWord(user.name) }}</span>
            <button (click)="removeFromList($index)">X</button>
          </li>
          }
          <input #addMemberSearchBar type="text" class="" [placeholder]="ListWithMember.length > 0 ? '' : 'Name eingeben'"
            [formControl]="searchControl" />
        </div>
        <button class="btn-primary" (click)="addMembertoChannel(channelDetails.id!)" [disabled]="ListWithMember.length === 0">
          Hinzufügen
        </button>

      </div>
  </div>
          }
</div>
