<div [ngClass]="overlay">
  <app-header-overlay
    [overlayHeadline]="'Leute hinzufugen'"
    [overlayRef]="overlayRef"
  />
  <div class="flex flex-col">
    @if(channelDetails$ | async; as channelDetails){
    {{ channelDetails.name }}
    <div class="cont">
      @for(user of ListWithMember; track $index){
      <li class="container">
        <img class="profil-img" src="{{ user.photoUrl }}" alt="Profilbild" />
        <span>{{ getFirstWord(user.name) }}</span>
        <button (click)="removeFromList($index)">X</button>
      </li>
      }
      <input
        type="text"
        class=""
        [placeholder]="ListWithMember.length > 0 ? '' : 'Name eingeben'"
        [formControl]="searchControl"
      />
    </div>
    <button
      class="btn-primary"
      (click)="addMembertoChannel(channelDetails.id!)"
      [disabled]="ListWithMember.length === 0"
    >
      Hinzufügen
    </button>
    }
  </div>
</div>
