
.mytest{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 541px;
}
input {
    display: flex;
    width: 100%;
    outline: unset;
    border: 0px solid var(--color-purple-white);
    &::placeholder {
        color: var(--color-gray);
    }
    &:focus-within {
        border: 0px solid var(--color-purple-medium);
    }
}

.profil-img {
    width: 34px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: fit-content;
    gap: 15px;
    border-radius:35px;
    background-color: #ECEEFE;
    padding-left: 15px;
    padding-right: 15px;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid var(--color-purple-white);
    border-radius: 30px;
    gap: 10px;
    border-width: 1px;
    padding-top: 7.5px;
    padding-right: 20px;
    padding-bottom: 7.5px;
    padding-left: 20px;
}