<app-header-overlay [overlayHeadline]="'Leute hinzufugen'" />


<div>
    @if(channelDetails$ | async; as channelDetails){
    {{ channelDetails.name }}
  <div>
    <div>
        @for(user of ListWithMember; track $index){
            <div>
                <span>{{ user.name}}</span>
                <button (click)="removeFromList($index)">X</button>
            </div>
        }
    </div>
    <input
      type="text"
      class="input-secondary"
      placeholder="Name eingeben"
      [formControl]="searchControl"
    />
  </div>

  <div>
    @if (results().length > 0) { @for (item of results(); track $index) {
    <div>
      <button (click)="addMemberToArray(item)">{{ item.name }}</button>
    </div>
    } }
  </div>
  <div>
    @for(user of ListWithMember; track $index){
    {{ user.name }}
    }
  </div>
  <button class="btn-primary" (click)="addMembertoChannel(channelDetails.id!)" [disabled]="ListWithMember.length === 0">Hinzufügen</button>
}
</div>
