@import './../../../../../../styles.scss';

.contact-list-item {
  @include dFlex($jc: flex-start, $g: 15px);
  span {
    white-space: nowrap;
    font-size: 17px;
  }
}

.profil-img-and-status {
  position: relative;
  width: 50px;
  aspect-ratio: 1;
}

.profil-img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.status {
  position: absolute;
  right: 0;
  bottom: 0;
}
