<li class="contact-list-item" (click)="pickOutAndNavigateToChat()">
  <div class="profil-img-and-status">
    <img class="profil-img" src="{{ user.photoUrl }}" alt="Profilbild" />
    <img
      class="status"
      [src]="
        user.active
          ? './../../../../../../assets/img/online-with-white-circle.svg'
          : './../../../../../../assets/img/offline-with-white-circle.svg'
      "
      alt="Status"
    />
  </div>
  <span>
    {{ user.name }}
  </span>

  <!-- @if(user.uid !== currentUserId ) { @if(isAlreadyContact(user.uid)) {
  <span>Already a contact</span>
  <button (click)="removeContact(user.uid)">-</button>
  }@else {
  <button (click)="addContact(user.uid)">+</button>
  } -->

  <!-- @if(user.active) {
  <span class="bg-green-400 px-[8px] rounded-full"></span>
  }@else {
  <span class="bg-red-400 px-[8px] rounded-xl"></span>
  } -->
</li>
