<div
  class="message-card"
  [ngClass]="{ 'message-current-user': senderIsCurrentUser$ | async }"
>
  <div>
    <img
      class="profil-img"
      [src]="senderPhotoUrl$ | async"
      alt="Profilbild"
      (click)="displayProfileViewOtherUser()"
    />
  </div>
  <div class="message-content">
    <div class="infos-message">
      <h4>{{ senderName$ | async }}</h4>
      <span class="message-time">{{ createdAtTime$ | async }} Uhr</span>
    </div>
    <div class="text">{{ message.text }}</div>

    <!-- if-query to check if there are any answers and only show if true-->
    <div class="answers flex flex-row">
      <button class="link" (click)="openAnswers(message.id!)">
        x Antworten
      </button>
      <span class="message-time"
        >Letzte Antwort {{ createdAtTime$ | async }} Uhr</span
      >
    </div>

    <div class="interactions flex flex-row">
      <!-- if-query to check if there are any reactions and only show if true-->
      <div class="reaction flex place-items-center">
        <img class="reaction-img" src="./assets/img/reaction-thumbs-up.svg" />
        <p>1</p>
      </div>

      <button
        class="btn-tertiary"
        (mouseenter)="
          addReactionsImg.src = './assets/img/add-reaction-hover.svg'
        "
        (mouseleave)="addReactionsImg.src = './assets/img/add-reaction.svg'"
      >
        <img
          #addReactionsImg
          src="./assets/img/add-reaction.svg"
          alt="add reaction"
        />
      </button>
    </div>
  </div>
</div>

<!-- btn to add an answer -->
<!-- <button class="btn-tertiary" (mouseenter)="addAnswerImg.src = './assets/img/add-answer-hover.svg'"
  (mouseleave)="addAnswerImg.src = './assets/img/add-answer.svg'">
  <img #addAnswerImg src="./assets/img/add-answer.svg" alt="add answer">
</button> -->
