<div class="message-card" [ngClass]="{ 'message-current-user': senderIsCurrentUser }">
  <div>
    <img class="profil-img" [src]="senderPhotoUrl? '../../../../../../assets/img/' + senderPhotoUrl + '.svg': '../../../../../../assets/img/no-avatar.svg'" alt="Profilbild" (click)="displayProfileViewOtherUser()"/>
    <app-overlay
      [ngClass]="
        (overlayService.overlayDisplayed | async) ? 'overlayVisible' : 'overlayHidden'
      "
      (click)="overlayService.hideOverlay()"
    ></app-overlay>
  </div>
  <div class="message-content">
    <div class="infos-message">
      <h4>{{ senderName }}</h4>
      <span>{{ createdAtTime }}</span>
    </div>
    <div class="text">{{ message.text }}</div>
  </div>
</div>