@import "./../../../../../../styles.scss";

.messageCard {
  width: 100%;
  @include dFlex($jc: flex-start, $g: 16px);
}

.profilImg {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
}

.messageContent {
  @include dFlex($g:8px, $ai:flex-start);
  flex-direction: column;
}

.infosMessage {
  @include dFlex($g: 20px);
  span {
    font-size: 16px;
  }
}

.text {
  font-size: 17px;
  background-color: var(--color-purple-white);
  padding: 15px;
  border-radius: 0 30px 30px 30px;
}

.messageCurrentUser {
  flex-direction: row-reverse;
  .messageContent {
    @include dFlex($g:8px, $ai:flex-end);
    flex-direction: column;
    div:first-child {
      flex-direction: row-reverse;
    }
    .text {
      background-color: var(--color-purple-light);
      border-radius: 30px 0 30px 30px;
    }
  }
}
