<div
  class="messageCard"
  [ngClass]="{ messageCurrentUser: senderIsCurrentUser }"
>
  <div>
    <img
      class="profilImg"
      [src]="
        senderPhotoUrl
          ? '../../../../../../assets/img/' + senderPhotoUrl + '.svg'
          : '../../../../../../assets/img/no-avatar.svg'
      "
      alt="Profilbild"
      (click)="displayProfileViewOtherUser()"
    />
    <!-- <app-overlay
      [ngClass]="
        (overlayService.overlayDisplayed | async)
          ? 'overlayVisible'
          : 'overlayHidden'
      "
      (click)="overlayService.hideOverlay()"
    ></app-overlay> -->
  </div>
  <div class="messageContent">
    <div class="infosMessage">
      <h4>{{ senderName }}</h4>
      <span>{{ createdAtTime }}</span>
    </div>
    <div class="text">{{ message.text }}</div>
      <button class="messageContent" (click)="openThread(message.id!)">AddThread</button>
  </div>
</div>

