* {
    background-color: var(--color-purple-white);
}

header {
    padding: 75px;
    padding-bottom: 0;

    .logo{
        visibility: hidden;
        height: 70px;
    }

    .show-logo{
        visibility: visible;
    }
}

main {
    padding: 30px 16px;

    .non-auth-form {
        //padding: 50px 60px; for desktop
        padding: 35px 20px;
        border-radius: 30px;
        background-color: var(--color-white);
        box-shadow: 0px 2px 10px 0px #00000014;
    }
}

footer {
    padding-bottom: 16px;
    gap: 16px;
}

.register {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 40px;
    gap: 20px;

    button {
        padding: 7px 18px;
    }
}

.show {
    display: flex !important;
}