<header class="flex place-content-between items-center">
    <div class="logo-box flex justify-center">
        <img class="logo" src="assets/img/logo.png" alt="Logo DABubble">
    </div>
</header>

<!-- <app-intro></app-intro> -->

<main class="flex flex-col place-content-center items-center">
    <section class="non-auth-form flex flex-col items-center">
        @if (currentState === 'login') {
        <app-login-form/>
        } @else if (currentState === 'registration-form') {
        <app-register-form (changeAuthState)="currentState = $event" />
        } @else if (currentState === 'registration-avatar') {
        <app-avatar-selection (changeAuthState)="currentState = $event" />
        } @else if (currentState === 'reset-password-init') {
        <!-- reset-password(mail) component -->
        } @else if (currentState === 'reset-password-confirm') {
        <!-- reset-password(new password) component -->
        }
    </section>

    @if (currentState == 'login') {
    <div class="register flex flex-col items-center">
        <p>Neu bei DABubble?</p>
        <button class="btn-secondary" (click)="currentState = 'registration-form'">Konto erstellen</button>
    </div>
    }
</main>

<footer class="flex place-content-center">
    <a class="link" routerLink="/imprint">Impressum</a>
    <a class="link" href="/privacy-policy">Datenschutz</a>
</footer>