* {
    background-color: var(--color-purple-white);
}

header {
    padding: 75px;
    padding-bottom: 0;

    .logo{
        height: 70px;
    }
}

.non-auth-form {
    max-width: 80%;
    padding: 50px 60px;
    border-radius: 30px;
    background-color: var(--color-white);
    box-shadow: 0px 2px 10px 0px #00000014;
}

footer {
    gap: 16px;
}