<header class="flex place-content-between items-center">
    <img class="logo" src="assets/img/logo.png" alt="Logo DABubble">
    @if (!noAccount) {
    <div>
        <p>Neu bei DABubble?</p>
        <button class="link" (click)="toggleNoAccount()">Konto erstellen</button>
    </div>
    }
</header>

<main class="flex place-content-center items-center">
    <section class="non-auth-form flex flex-col items-center">
        @if(noAccount){
        <app-register-form />
        <!-- <button (click)="toggleNoAccount()">to Login</button> -->
        }@else {
        <app-login-form />
        }
    </section>
</main>

<footer class="flex place-content-center">
    <a class="link" href="/">Impressum</a>
    <a class="link" href="/">Datenschutz</a>
</footer>