<div class="logo-box flex justify-center">
    <img class="logo" src="assets/img/logo.png" alt="">
</div>
 <app-intro></app-intro>
@if(noAccount){
    <app-register-form />
    <button (click)="toggleNoAccount()">to Login</button>
}@else {
    <app-login-form />
    <button (click)="loginWithGoogle()">Login With GOOGLE</button>
    <p>Please log in to continue.</p>
    <p>If you don't have an account, please register<button (click)="toggleNoAccount()">here</button>.</p>
}

<br>

<div class="info-message">
    info-message
</div>
<input class="input-primary" placeholder="input-primary">
<input class="input-secondary" placeholder="input-secondary" style="padding: 18px 32px;">
<button class="btn-primary">btn-primary</button>
<button class="btn-secondary">btn-secondary</button>
<button class="btn-tertiary">-+-</button>
<br><br><br><br><br>
<button class="collapsible">This is a Collapsible</button>