* {
    background-color: var(--color-purple-white);
}

header {
    padding: 75px;
    padding-bottom: 0;

    .logo-box {
        width: 100vw;
        height: 60px;
        padding: 2px 0px 2px 0px;

        .logo {
            //display: none;
            width: 205px;
            height: 56px;
        }
    }
}

main {
    padding: 30px 0;

    .non-auth-form {
        max-width: 80%;
        padding: 50px 60px;
        border-radius: 30px;
        background-color: var(--color-white);
        box-shadow: 0px 2px 10px 0px #00000014;
    }
}

footer {
    gap: 16px;
    //visible for desktop
    display: none;
}

.register {
    width: 100%;
    gap: 20px;

    button {
        padding: 7px 18px;
    }
}

.show {
    display: flex !important;
}