@import "./../../../styles.scss";

.overlay {
  padding: clamp(1.25rem, 0.6250rem + 3.1250vw, 2.5rem);
}

.profile-view-other-user {
  @include dFlex($g: clamp(1.25rem, 0.4685rem + 3.9075vw, 2.813rem));
  flex-direction: column;
  width: clamp(17.5rem, 15.0625rem + 12.1875vw, 22.375rem);
  margin-top: 45px;
}

.profil-img {
  width: clamp(7.5rem, 5.0000rem + 12.5000vw, 12.5rem);
  aspect-ratio: 1;
  border-radius: 50%;
}

.name-and-status {
  @include dFlex($ai: flex-start, $g: 15px);
  flex-direction: column;
  width: 100%;
  h1 {
    color: black;
    width: clamp(17.5rem, 16.8750rem + 3.1250vw, 18.75rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.status {
  @include dFlex($g: 15px);
  span {
    color: var(--color-gray);
    font-size: 20px;
  }
}

.mail-info {
  width: 100%;
  @include dFlex($g: 15px, $ai: flex-start);
  flex-direction: column;
}

.mail-header {
  @include dFlex($g: 20px, $ai: flex-start);
}

.mail-address {
  margin-left: 50px;
  color: var(--color-blue);
  font-size: 18px;
}

.green {
  color: var(--color-green) !important;
}