<div class="overlay">
  <header>
    <h2>Profil</h2>
    <button class="btn-tertiary close" (click)="overlayService.close()"></button>
  </header>
  <div class="profile-view-other-user">
    <img class="profil-img" [src]="(user$ | async)?.photoUrl || '/assets/img/no-avatar.svg'" alt="Profilbild" />
    <div class="name-and-status">
      <h1>{{ (user$ | async)?.name }}</h1>
      <div class="status">
        <img [src]="
          (user$ | async)?.active
            ? '/assets/img/online.svg'
            : '/assets/img/offline.svg'
        " alt="Status" />
        <span>
          {{ (user$ | async)?.active ? "Aktiv" : "Abwesend" }}
        </span>
      </div>
    </div>
    <div class="mail-info">
      <div class="mail-header">
        <img src="/assets/img/mail-profil-view.svg" alt="mail" />
        <h3>E-Mail-Adresse</h3>
      </div>
      <span class="mail-address">{{ (user$ | async)?.email }}</span>
    </div>
    <button class="btn-primary" (click)="openChat()">
      <img src="/assets/img/mode-comment.svg" alt="mode-comment" />
      <h4>Nachricht</h4>
    </button>
  </div>
</div>