@import "./../../../styles.scss";

.profile-view-other-user {
  @include dFlex($g: 45px);
  flex-direction: column;
  width: 358px;
  margin-top: 45px;
  >img {
    width: 200px;
    aspect-ratio: 1;
  }
}

.name-and-status {
  @include dFlex($ai: flex-start, $g: 15px);
  flex-direction: column;
  width: 100%;
  h1 {
    color: black;
  }
}

.status {
  @include dFlex($g: 15px);
  span {
    color: var(--color-gray);
    font-size: 20px;
  }
}

.mail-info {
  width: 100%;
  @include dFlex($g: 15px, $ai: flex-start);
  flex-direction: column;
}

.mail-header {
  @include dFlex($g: 20px, $ai: flex-start);
}

.mail-address {
  margin-left: 50px;
  color: var(--color-blue);
  font-size: 18px;
}
