.profil-img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

span{
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.contact-list-item {
  border-radius: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-purple-white);
  padding-top: 3px;
  padding-bottom: 3px;
  .add-person {
    width: 24px;
    height: 24px;
    background-image: url('../../../../../../../../assets/img/person-add.svg');
    transition: background-image 0.2 ease;
  }

  &:hover {
    .add-person {
      background-image: url('../../../../../../../../assets/img/person-add-hover.svg');
    }
  }
}