:host {
  width: 100%;
}

.dashboard-web {
  height: calc(100vh - 135px);
  gap: 20px;
  background-color: var(--color-purple-white);
  display: flex;

  > * {
    flex: 1;
  }

  app-header-searchbar {
    background-color: var(--color-white);
    border-radius: 30px 30px 0 0;
  }

  .thread-window {
    max-width: 485px;
  }

  @media (min-height: 1080px) {
    height: 945px;
  }
}

.dashboard-web-thread-without-sidenav {
  .conversation-window {
    width: 1245px !important;
    max-width: 1245px !important;
  }
  .thread-window {
    width: 610px !important;
    max-width: 610px !important;
  }
}

.dashboard-tablet {
  height: calc(100vh - 135px);
  background-color: var(--color-purple-white);

  > * {
    flex: 1;
  }

  app-header-searchbar {
    background-color: var(--color-white);
    border-radius: 30px 30px 0 0;
  }
}

.empty-window-handset {
  width: 100%;
  height: calc(100vh - 208px);
}

.new-message-view {
  .empty-window-web-tablet {
    flex: 1;
    border-radius: 0 0 30px 30px;
    background-color: var(--color-white);
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
