<body>
    <header class="flex place-content-between items-center">
        <div class="logo-box flex justify-center">
            <img class="logo" src="assets/img/logo.png" alt="Logo DABubble">
        </div>
    </header>

    <main class="flex flex-col place-content-center items-center">

        <section class="non-auth-form flex flex-col items-center">
            <button class="btn-tertiary" (mouseenter)="arrowBackImg.src = './assets/img/arrow-back-hover.svg'"
                (mouseleave)="arrowBackImg.src = './assets/img/arrow-back.svg'">
                <img #arrowBackImg src="./assets/img/arrow-back.svg" alt="go back to previous page">
            </button>
            <h1>Impressum</h1>
        </section>
    </main>
</body>