/* You can add global styles to this file, and also import other style files */
@use "tailwindcss" as *;

@mixin dFlex($jc: center, $ai: center, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

$breakpoints: (
  xxxs: 380px,
  xxs: 450px,
  xs: 700px,
  sm: 768px,
  m: 1023px,
  l: 1200px,
  xl: 1399px,

  '835': 835px,
  '624': 624px,
  '515': 515px,
  '430': 430px,
);

:root {
  --color-purple-dark: #444df2;
  --color-purple-medium: #535af1;
  --color-purple-light: #797ef3;
  --color-purple-light-lines: #adb0d9;
  --color-purple-white: #eceefe;
  --color-gray: #686868;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-pink: #ed1e79;
  --color-green: #92c83e;
  --color-blue: #1381ff;
}

* {
  box-sizing: border-box;
  font-family: "Nunito";
}

@include respond-to(xs) {
  button:hover,
  .btn-dropdown,
  .btn-dropdown div {
    color: inherit !important;
    background-color: inherit !important;
    background-image: inherit !important;
    filter: brightness(0) !important;
  }
}

@media (hover: none) {
  button:hover,
  .btn-dropdown,
  .btn-dropdown div {
    color: inherit !important;
    background-color: inherit !important;
    background-image: inherit !important;
  }
}

body{
  height: 100dvh;
}

// html.overlay-active,
// body.overlay-active {
//   margin: 0;
//   padding: 0;
//   height: 100%;
//   overflow: hidden;
//   /* Verhindert das Scrollen */
// }

button {
  cursor: pointer;
  line-height: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-primary {
  padding: 12px 24px;
  border-radius: 25px;
  color: var(--color-white);
  background-color: var(--color-purple-dark);
  font-size: 18px;
  font-weight: 700;
  @include dFlex($g: 10px);

  &:hover {
    background-color: var(--color-purple-light);
  }

  &:disabled {
    background-color: var(--color-gray);
  }
}

.btn-secondary {
  padding: 12px 24px;
  border: 1px solid var(--color-purple-light);
  border-radius: 25px;
  color: var(--color-purple-dark);
  background-color: var(--color-white);
  font-size: 18px;
  font-weight: 700;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-purple-medium);
  }

  &:disabled {
    border: 1px solid var(--color-gray);
    color: var(--color-gray);
  }

  &:focus {
    color: var(--color-white);
    background-color: var(--color-purple-dark);
  }
}

.btn-tertiary {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white);

  &:hover {
    background-color: var(--color-purple-white);
  }

  img {
    justify-self: center;
  }
}

input {
  width: 100%;
  outline: unset;
  border: 1px solid var(--color-purple-white);
  border-radius: 30px;

  &::placeholder {
    color: var(--color-gray);
  }

  &:focus-within {
    border: 1px solid var(--color-purple-medium);
  }
}

.input-primary {
  //padding: 18px 32px; for desktop
  padding: 8px 32px;
  background-color: var(--color-purple-white);

  &:hover {
    border: 1px solid var(--color-gray);
  }
}

.input-secondary {
  background-color: var(--color-white);
  border-color: var(--color-purple-light-lines);
  &:hover {
    border: 1px solid var(--color-purple-light);
  }
}

.collapsible {
  width: 288px;
  padding: 12px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  rotate: 270deg;
  transform-origin: 0% 0%;
  box-shadow: 4px 4px 7px 0px #00000033;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: var(--color-purple-medium);
    background-color: var(--color-white);
  }
}

.info-message {
  width: fit-content;
  //padding mobile: 20px 30px;
  padding: 50px;
  //gap mobile: 18px;
  gap: 28px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  color: var(--color-white);
  background-color: var(--color-purple-dark);
  //fs mobile: 22px;
  font-size: 36px;
  font-weight: 700;
  box-shadow: 0px 6px 10px 0px #00000033;
}

h1 {
  color: var(--color-purple-dark);
  font-weight: 700;
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  @include respond-to(xl) {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

.link {
  color: var(--color-purple-light);
  cursor: pointer;

  &:hover {
    color: var(--color-purple-medium);
  }
}

.overlay {
  background-color: var(--color-white);
  border-radius: 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
  padding: 40px;
  @include respond-to(m) {
      padding: 40px 20px;
  }
}

.overlay-right {
  background-color: var(--color-white);
  border-radius: 30px 0 30px 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
  padding: 40px 20px;
}

.overlay-left {
  background-color: var(--color-white);
  border-radius: 0 30px 30px 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
  padding: 40px 20px;
}

.overlay-bottom {
  width: 100vw;
  background-color: var(--color-white);
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 6px 10px 0px #00000033;
  padding: 40px 20px;
}

//i use this to style name from edit channel btn
.nameTag {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-purple-medium);
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    color: var(--color-purple-dark);
  }
}

.rectangle {
  width: 62px;
  height: 6px;
  aspect-ratio: 1;
  background-image: url("./assets/img/rectangle.svg");
}

.tag {
  width: 24px;
  aspect-ratio: 1;
  background-image: url("./assets/img/tag-black.svg");
}

.tag-color {
  width: 24px;
  aspect-ratio: 1;
  background-image: url("./assets/img/tag-blue.svg");
}

.separable {
  display: flex;
  width: 100%;
  border: 1px solid #adb0d9;
  border-width: 1px;
}

.emoji {
  width: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem) !important;
  height: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem) !important;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.mark {
  width: fit-content;
  max-width: clamp(10rem, 9rem + 5vw, 15rem);
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  vertical-align: middle;
  white-space: nowrap;
  padding: clamp(0.063rem, 0.0506rem + 0.062vw, 0.125rem)
    clamp(0.25rem, 0.225rem + 0.125vw, 0.375rem);
  border-radius: 30px;
  background-color: var(--color-purple-white);
  color: var(--color-purple-dark) !important;
  font-size: 18px;
  font-weight: 500;
  cursor: default;
  line-height: 1.1;

  img {
    width: 20px;
    aspect-ratio: 1;
    padding-right: 2px;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.text .mark {
  background-color: var(--color-white);
  color: var(--color-purple-medium);
  cursor: pointer;
}

.post-current-user .text .mark {
  background-color: var(--color-purple-white);
  color: var(--color-purple-dark);
  cursor: pointer;
}

.results-list {
  
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 13px);
  flex-direction: column;
  overflow-x: hidden;
  li {
    width: 100%;
  }
}

.results-list-web {
  padding: 20px 54px;
}

.results-list-handset {
  padding: 24px 61px;
  width: 100vw;
}

.no-hits {
  font-size: 18px;
  color: var(--color-gray);
}

.z-index-1001 {
  z-index: 1001;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-purple-light-lines);
  border-radius: 10px;
  height: 64px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-purple-light);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

::-webkit-scrollbar-track {
  height: 36px;
  background-color: var(--color-white) !important;
  border-radius: 5px;
}

//for firefox scrollbar

* {
  scrollbar-width: auto; /* auto | thin | none */
  scrollbar-color: var(--color-purple-light-lines) var(--color-white);
}

.empty-consersation-view {
  @include dFlex($jc: flex-start);
  width: 100%;
}

.empty-consersation-view-handset-tablet {
  padding: 0 16px 45px;
}

.empty-consersation-view-web {
  padding: 0 45px 73px;
}

/* nunito-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/nunito-v31-latin-200.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-200italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("./assets/fonts/nunito-v31-latin-200italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/nunito-v31-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-300italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/nunito-v31-latin-300italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v31-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v31-latin-italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/nunito-v31-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-500italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/nunito-v31-latin-500italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/nunito-v31-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-600italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/nunito-v31-latin-600italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v31-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v31-latin-700italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/nunito-v31-latin-800.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-800italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("./assets/fonts/nunito-v31-latin-800italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/nunito-v31-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-900italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/nunito-v31-latin-900italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
