/* You can add global styles to this file, and also import other style files */
@use "tailwindcss" as *;

* {
  box-sizing: border-box;
}

:root {
  --color-purple-dark: #444DF2;
  --color-purple-medium: #535AF1;
  --color-purple-light: #797EF3;
  --color-purple-white: #eceefe;
  --color-gray: #686868;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-pink: #ED1E79;
  --color-green: #92C83E;
}

button {
  cursor: pointer;
}

.btn-primary {
  padding: 12px 24px;
  border-radius: 25px;
  color: var(--color-white);
  background-color: var(--color-purple-dark);
  font-size: 18px;
  font-weight: 700;

  &:hover {
    background-color: var(--color-purple-light);
  }

  &:disabled {
    background-color: var(--color-gray);
  }
}

.btn-secondary {
  padding: 12px 24px;
  border: 1px solid var(--color-purple-light);
  border-radius: 25px;
  color: var(--color-purple-dark);
  background-color: var(--color-white);
  font-size: 18px;
  font-weight: 700;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-purple-medium);
  }

  &:disabled {
    border: 1px solid var(--color-gray);
    color: var(--color-gray);
  }

  &:focus {
    color: var(--color-white);
    background-color: var(--color-purple-dark);
  }
}

.btn-tertiary {
  border-radius: 50%;
  background-color: var(--color-white);

  &:hover {
    background-color: var(--color-purple-white);
  }
}

input {
  outline: unset;
  border: 1px solid var(--color-purple-white);
  border-radius: 30px;

  &::placeholder {
    color: var(--color-gray);
  }

  &:focus-within {
    border: 1px solid var(--color-purple-medium);
  }
}

.input-primary {
  padding: 18px 32px;
  background-color: var(--color-purple-white);

  &:hover {
    border: 1px solid var(--color-gray);
  }
}

.input-secondary {
  background-color: var(--color-white);

  &:hover {
    border: 1px solid var(--color-purple-light);
  }
}

.collapsible {
  width: fit-content;
  padding: 12px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  rotate: -90deg;
  box-shadow: 4px 4px 7px 0px #00000033;
  background-color: var(--color-white);

  &:hover {
    color: var(--color-purple-medium);
    background-color: var(--color-white);
  }
}

.info-message {
  width: fit-content;
  //padding mobile: 20px 30px;
  padding: 50px;
  //gap mobile: 18px;
  gap: 28px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  color: var(--color-white);
  background-color: var(--color-purple-dark);
  //fs mobile: 22px;
  font-size: 36px;
  font-weight: 700;
  box-shadow: 0px 6px 10px 0px #00000033;
}