<div class="overlay">
  <div class="popup">

<h2>Create Channel</h2>
<form action="" [formGroup]="createChannel" (ngSubmit)="onSubmit()">
    <div class="form-group flex">
        <label for="nameId">Name: </label>
        <input id="nameId" type="text" placeholder="Name" formControlName="name" name="name" required>

        <label for="descriptionId">Description: </label>
        <input id="descriptionId" type="text" placeholder="Description" formControlName="description" name="description">

        @if(errorMessage) {
            <div class="error">{{ errorMessage }}</div>
        }
        <div class="actions">
            <button type="submit" [disabled]="!createChannel.valid">Create</button>
            <button type="button" (click)="onClose()">Închide</button>
        </div>
    </div>
</form>
  </div>
</div>