@import "../../../styles.scss";

.overlay {
  padding: 40px;
}

.overlay-handset {
  position: fixed;
  inset: 0; /* ersetzt top, right, bottom, left */
  width: 100vw;
  height: 100dvh;
  max-height: 100svh; /* NEU: sichert den sichtbaren Viewport */
  overflow-y: auto; /* erlaubt leichtes Scrollen, falls nötig */
  border-radius: 0;
  background-color: var(--color-white);
  padding: 40px 20px calc(40px + env(safe-area-inset-bottom, 0px));
  box-sizing: border-box;

  @supports not (height: 100dvh) {
    height: 100vh; /* Fallback für ältere Browser */
  }
}

.input-gap {
  display: flex;
  padding-left: 58px;
  padding: 20px 20px 20px 58px;
}

span {
  color: var(--color-gray);
  font-size: 18px;
}

input {
  font-size: 18px;
  ::placeholder {
    font-size: 18px;
  }
}

p {
  font-size: 18px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.prefix {
  position: absolute;
  left: 20px;
  top: 23px;
  pointer-events: none;
}

.error-massage {
  height: 16px;
  padding-top: 4px;
  padding-left: 12px;
  font-size: 16px;
  color: var(--color-pink);
  line-height: 1;
}

.inputAndErrorMessage {
  height: 88px;
}

.close {
  width: 40px;
  aspect-ratio: 1;
  background-image: url("../../../assets/img/close.svg");
  background-position: center;
  transition: 0.2s;

  &:hover {
    background-image: url("../../../assets/img/close-hover.svg");
  }

  @media screen and (pointer: coarse) {
    background-image: url("../../../assets/img/close.svg") !important;
  }
}
