
.input-gap{
  display: flex;
  padding-left: 58px;
  padding: 20px 20px 20px 58px;
}

span{
  color: var(--color-gray);
}

.input-wrapper {
    display: flex;
    align-items: center; /* centrează pe verticală */
  position: relative;
}

.prefix {
  position: absolute;
  color: gray;
  padding-left: 20px;
  font-size: 16px;
  pointer-events: none; /* prevents blocking typing */
}
