@import "../../../styles.scss";

.input-gap{
  display: flex;
  padding-left: 58px;
  padding: 20px 20px 20px 58px;
}

span{
  color: var(--color-gray);
}

.input-wrapper {
    display: flex;
    align-items: center; /* centrează pe verticală */
  position: relative;
}

.tag {
  position: absolute;
  margin-left: 20px;
  margin-bottom: 22px;
  pointer-events: none; /* prevents blocking typing */
  filter: opacity(0.4)
}

.error-massage {
    color: red;
    height: 16px;
    padding-top: 4px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--color-pink);
    line-height: 1;
}

.inputAndErrorMessage{
  height: 88px;
}

.overlay-handset {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}