.dashboard {
  background-color: var(--color-purple-white);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  &.new-message-view-mobile {
    background-color: white;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

app-header {
  width: 100%;
}

.editing-post-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  // background-color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.below-from-header-searchbar {
  width: 100%;
  height: calc(100vh - 205px);
}

.dashboard-web {
  * {
    flex: 1;
  }
}
