<section
  class="dashboard w-full"
  [class.dashboard-web]="(screenSize$ | async) === 'web'"
  [ngClass]="{
    'new-message-view-mobile':
      mobileDashboardState() === 'new-message-view' &&
      (screenSize$ | async) === 'handset'
  }"
>
  <app-header-dashboard />
  @if (mobileDashboardState() === 'new-message-view') {
  <app-header-searchbar></app-header-searchbar>
  <div class="below-from-header-searchbar"></div>
  } @if((screenSize$|async) === 'web'){
  <div class="dashboard-web-components flex h-full">
    @if(webNavigationVisible) {
    <app-sidenav class="relative"></app-sidenav>
    }
    <app-conversation-window
      [data$]="messages$"
      [conversationWindowState]="'conversation'"
    ></app-conversation-window>
    @if (mobileDashboardState()==='thread-window'){
    <app-conversation-window
      class="thread-window"
      [data$]="answers$"
      [conversationWindowState]="'thread'"
    ></app-conversation-window>
    }
  </div>
  } @else {
  <div class="w-full h-full">
    @switch (mobileDashboardState()) { @case ('sidenav') {
    <app-sidenav></app-sidenav>
    } @case ('message-window') {
    <div>
      <app-conversation-window [data$]="messages$"></app-conversation-window>
    </div>
    } @case ('thread-window') {
    <app-conversation-window [data$]="answers$"></app-conversation-window>
    } }
  </div>
</section>

@if((screenSize$|async) === 'web') {
<section
  (click)="webNavigationVisible = !webNavigationVisible"
  class="collapsible"
>
  <p>Workspace-Menü {{ webNavigationVisible ? "schließen" : "öffnen" }}</p>
  <div
    class="toggle-navigation-img"
    [ngClass]="webNavigationVisible ? 'hide-navigation' : 'show-navigation'"
  ></div>
</section>
}

<!-- <section class="dashboard flex w-full justify-around h-[calc(100vh-120px)] gap-[24px]">
  <app-header />
  <div class="flex w-full h-full w-max-[1920px] gap-[20px]">
    <app-sidenav></app-sidenav>
    <div [class.disabled]="msgId$  | async">
      <app-conversation-window [data$]="messages$" class="flex w-[700px] "></app-conversation-window>
    </div>
    @if(msgId$ | async; as msgId){
      <app-conversation-window [data$]="answers$" class="flex w-[700px]"></app-conversation-window>
    }
  </div>
</section> -->

<!-- <button (click)="logout()">logout</button> -->

<!-- <section >
  <div class="w-[300px] bg-white h-full">
    <app-sidenav />
  </div>
  <div class="w-[700px] bg-white h-full"></div>
  <div class="w-[300px] bg-white h-full"></div>
</section> -->

@if(overlayService.editingPostId() !== null) {
<div (click)="endEditingPost()" class="editing-post-backdrop"></div>
}
