<section class="flex w-full justify-around h-[calc(100vh-120px)] gap-[24px]">
  <app-header />
  <div class="flex w-full h-full w-max-[1920px] gap-[20px]">
    <app-sidenav></app-sidenav>
    <app-chat-window class="flex w-[700px]"></app-chat-window>
    <app-thread-window></app-thread-window>
     <!-- <app-chat-window class="flex w-[700px]"></app-chat-window> -->
  </div>
  <button (click)="logout()">logout</button>
</section>

<!-- <section >
  <div class="w-[300px] bg-white h-full">
    <app-sidenav />
  </div>
  <div class="w-[700px] bg-white h-full"></div>
  <div class="w-[300px] bg-white h-full"></div>
</section> -->
