.dashboard {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  &.new-message-view-mobile {
    background-color: var(--color-white);
  }

  @media (min-width: 1920px) {
    background-color: var(--color-purple-white);
  }

  @media (min-height: 1080px) {
    height: 100%;
    align-content: center;
    background-color: var(--color-purple-white);
  }
}

.dashboard-web {
  height: calc(100vh - 115px);
  padding: 0 20px;
  gap: 10px;
  background-color: var(--color-purple-white);

  > * {
    padding-bottom: 20px;
  }

  app-sidenav {
    min-width: 366px !important;

    @media (min-height: 1080px) {
      height: 945px;
      padding-bottom: 0;
    }
  }

  @media (min-width: 1920px) {
    width: 1920px;
    justify-self: center;
  }

  @media (min-height: 1080px) {
    height: 945px;
    padding-bottom: 0;
  }
}

.dashboard-tablet {
  height: calc(100vh - 115px);
  padding: 0 20px;
  gap: 10px;
  background-color: var(--color-purple-white);

  > * {
    padding-bottom: 20px;
  }

  app-sidenav {
    min-width: clamp(17.5rem, 5.7727rem + 19.5455vw, 22.875rem) !important;
  }
}

.collapsible {
  position: absolute;
  top: 90%;
  left: 0;

  .toggle-navigation-img {
    width: 32px !important;
    height: 32px !important;
    transition: background-image 0.2 ease;
    rotate: 90deg;
  }

  .hide-navigation {
    background-image: url("../../../assets/img/hide-navigation.svg");
  }

  .show-navigation {
    background-image: url("../../../assets/img/show-navigation.svg");
  }

  &:hover {
    .hide-navigation {
      background-image: url("../../../assets/img/hide-navigation-hover.svg");
    }

    .show-navigation {
      background-image: url("../../../assets/img/show-navigation-hover.svg");
    }
  }

  @media (min-width: 1920px) {
    left: calc(100vw - 1920px - ((100vw - 1920px) / 2));
    align-self: center;
  }

  @media (min-height: 1080px) {
    top: calc(100vh - 1080px - ((100vh - 1080px) / 2));
    margin-top: 972px;
  }
}

.editing-post-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
}

body {
  background-color: var(--color-purple-white);
}
