.dashboard {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  &.new-message-view-mobile {
    background-color: white;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

app-header {
  width: 100%;
}

.editing-post-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  // background-color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.below-from-header-searchbar {
  width: 100%;
  height: calc(100vh - 205px);
}

.dashboard-web {
  background-color: var(--color-purple-white);
}

.dashboard-web-components {
  padding: 0 20px;
  gap: 20px;
  background-color: var(--color-purple-white);

  > * {
    flex: 1;
    padding-bottom: 20px;
  }

  app-sidenav {
    max-width: 366px;
  }
}

.collapsible {
  position: absolute;
  bottom: 5%;
  left: 0;

  .toggle-navigation-img {
    width: 32px !important;
    height: 32px !important;
    transition: background-image 0.2 ease;
    rotate: 90deg;
  }

  .hide-navigation {
    background-image: url("../../../assets/img/hide-navigation.svg");
  }

  .show-navigation {
    background-image: url("../../../assets/img/show-navigation.svg");
  }

  &:hover {
    .hide-navigation {
      background-image: url("../../../assets/img/hide-navigation-hover.svg");
    }

    .show-navigation {
      background-image: url("../../../assets/img/show-navigation-hover.svg");
    }
  }
}
