.dashboard {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  &.new-message-view-mobile {
    background-color: var(--color-white);
  }
}

.dashboard-web {
  height: calc(100vh - 115px);
  padding: 0 20px;
  gap: 20px;
  background-color: var(--color-purple-white);

  > * {
    flex: 1;
    padding-bottom: 20px;
  }

  app-header-searchbar {
    background-color: var(--color-white);
    border-radius: 30px 30px 0 0;
  }

  app-sidenav {
    max-width: 366px;
  }

  .thread-window {
    width: 485px;
    max-width: 485px;
  }
}

.dashboard-tablet {
  height: calc(100vh - 115px);
  padding: 0 20px;
  gap: 20px;
  background-color: var(--color-purple-white);

  > * {
    flex: 1;
    padding-bottom: 20px;
  }

  app-header-searchbar {
    background-color: var(--color-white);
    border-radius: 30px 30px 0 0;
  }

  app-sidenav {
    max-width: 366px;
  }
}

.empty-window-handset {
  width: 100%;
  height: calc(100vh - 208px);
}

.empty-window-web-tablet {
  padding-top: 8px;
  padding-bottom: 32px;
  height: 100%;
  border-radius: 0 0 30px 30px;
  background-color: var(--color-white);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer / Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.collapsible {
  position: absolute;
  bottom: 5%;
  left: 0;

  .toggle-navigation-img {
    width: 32px !important;
    height: 32px !important;
    transition: background-image 0.2 ease;
    rotate: 90deg;
  }

  .hide-navigation {
    background-image: url("../../../assets/img/hide-navigation.svg");
  }

  .show-navigation {
    background-image: url("../../../assets/img/show-navigation.svg");
  }

  &:hover {
    .hide-navigation {
      background-image: url("../../../assets/img/hide-navigation-hover.svg");
    }

    .show-navigation {
      background-image: url("../../../assets/img/show-navigation-hover.svg");
    }
  }
}

.editing-post-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
}
