section {
  background-color: var(--color-purple-white);
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

app-header {
  width: 100%;
}