@import "./../../../../styles.scss";
@import "../../../shared/styles/outside-dashboard.scss";

header {
  background-color: var(--color-purple-white);
  padding: clamp(3rem, 2.25rem + 3.75vw, 4.5rem);
  padding-bottom: 0;

  .logo-final {
    width: 100%;
    max-width: 306px;
    visibility: hidden;
  }

  .showLogo {
    visibility: visible !important;
  }

  .hideLogo{
    visibility: hidden !important;
  }
}
