.reaction-options {
    padding: 12px;
    border-radius: 0 20px 20px 20px;
    background-color: var(--color-purple-white);
    box-shadow: 0px 6px 10px 0px #00000033;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);

    .reaction-img {
        width: 50px;
        height: 50px;
        padding: 2px;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.reaction-options-current-user {
    border-radius: 20px 0 20px 20px !important;
}