@if(channelDetails$ | async; as channel){
    <div class="mobile-overlay">
        <header class="flex justify-between items-end h-[90px]">
                        <h2>#{{channel.name}}</h2>
                        <button  class="btn-tertiary close" (click)="closeOverlay()">X</button>
        </header>
        <div class="flex flex-col w-full gap-[20px]">

            <app-change-channel-name [channelId]="channelId"  [channel]="channel"/>
            <app-change-channel-description [channelId]="channelId" [channel]="channel"/>
            <app-channel-members [memberIds]="memberIds"/>
            <div>CREATED BY</div>


        </div>
    </div>
}
