@import './../../../styles.scss';
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.overlay-left {
  background-color: var(--color-white);
  border-radius: 0 30px 30px 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
}

.vwitdh{
  width: 100vw;
}

.container-boarder {
  border-color: #ADB0D9;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.mobile-overlay {
  position: relative;
  width: 100vw;             
  height: 100vh;            
  background-color: var(--color-white);
  border-radius: 0;        
  overflow-y: auto;         /* scroll beheiver if wee need */
}

header{
    width: 100%;
    box-shadow: 0px 2px 10px 0px #00000014;

}

.nameAndErrorEdit{
  height: 180px;
}

