@import './../../../styles.scss';
.container{
    display: flex;
    flex-direction: column;
    border: 1px solid #ADB0D9;
    width: 100%;
    opacity: 1;
    border-radius: 20px;
    border-width: 1px;
    gap: 30px;
    padding: 20px;
}

header{
  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  .close {
  background-image: url("../../../assets/img/close.svg");
  &:hover {
    background-image: url("../../../assets/img/close-hover.svg");
  }
}
}

.mobile-overlay {
  position: relative;
  width: 100vw;             
  height: 100vh;            
  background-color: white;
  border-radius: 0;        
  overflow-y: auto;         /* scroll beheiver if wee need */
  
}

header{
    width: 100%;
    box-shadow: 0px 2px 10px 0px #00000014;

}

