@if(channelDetails$ | async; as channel){
<div class="mobile-overlay flex flex-col">
  <app-header-overlay [overlayHeadline]="channelName || ''" />
  <div class="flex items-center flex-col w-full py-[16px] px-[20px] gap-[20px]">
    <app-change-channel-name
      class="container"
      [channelId]="channelId"
      [channel]="channel"
    />
    <app-change-channel-description
      class="container"
      [channelId]="channelId"
      [channel]="channel"
      [user$]="user$"
    />
    @if(isMobile){
      <app-channel-members class="container items-start" [channelDetails$]="channelDetails$" />
    }
  </div>
  <div class="flex justify-end">
    @if(currentUser == createdById){
    <button
      class="btn-primary"
      (click)="channelService.deleteChannel(channelId!)">
      Channel loschen
    </button>
    }@else {
    <button
      class="btn-primary"
      (click)="channelService.leaveChannel(channelId!, currentUser!)"
    >
      Channel verlassen
    </button>
    }
  </div>
</div>
}