@import "../../../shared/styles/outside-dashboard.scss";

.seperator-container {
    gap: 16px;

    .seperator {
        width: 100%;
        height: 2px;
        flex: 1;
        background-color: var(--color-purple-white);
    }
}

.google-login-btn {
    padding: clamp(0.375rem, 0.1875rem + 0.9375vw, 0.75rem) 32px;
    gap: 20px;
    border-radius: 100px;
    background-color: var(--color-purple-white);
    color: var(--color-purple-dark);

    img {
        height: 38px;
    }
}

.submit-btns {
    gap: clamp(1.25rem, 1.0000rem + 1.2500vw, 1.75rem);
    white-space: nowrap;
    margin: 24px 0px 0px 0px;
}

.resetPasswordLink{
    margin: 0px 0px 16px 0px;
}