@import "../../../shared/styles/outside-dashboard.scss";

.seperator-container {
    gap: 16px;

    .seperator {
        width: 100%;
        height: 2px;
        flex: 1;
        background-color: var(--color-purple-white);
    }
}

.google-login-btn {
    //padding: 12px 32px; for desktop
    padding: 6px 32px;
    gap: 20px;
    border-radius: 100px;
    background-color: var(--color-purple-white);
    color: var(--color-purple-dark);

    img {
        height: 38px;
    }
}

.submit-btns {
    //gap: 30px; for desktop
    gap: 20px;
    white-space: nowrap;
}